# æ¸¬è©¦ extra coupon

In [1]:
cd ~/pinkoi/

/home/chihyu_lin/pinkoi

In [2]:
from pinkoi.models.Order import Order
from pinkoi.models.User import User
from pinkoi.base.campaign.anniversary_2017 import issue_coupon
from datetime import datetime
from pinkoi.models.Coupon import Coupon
from pinkoi.base.campaign import anniversary_2017_message as anniv_2017_msg
from pinkoi.lib.locale import activate, deactivate, Translate

In [3]:
order = Order.get_orders(oid=u'201710271813NYMq')[0]
user = User('vegetable80923')

print datetime.fromtimestamp(order['created'])
print order['total'].formatted()

- - - [24/Nov/2017:18:26:52 +0800] - - - - - [SQL] "0.002s" "SELECT	                oid,	                seller,	                account,	                shipping,	                handling,	                deductible,	                coupon_deduct,	                reward_deduct,	                giftcard_deduct,	                coupon_credit,	                payment_fee,	                total,	                coupon,	                giftcard,	                buyer,	                name,	                address,	                zipcode,	                sevenstore,	                tel,	                pincode,	                bname,	                btel,	                baddress,	                bzipcode,	                tracking,	                reason AS canceled_reason,	                taxid,	                taxtitle,	                message,	                memo,	                payment_method,	                device,	                campaign,	                IFNULL(currency, 'TWD') as currency,	                IFNULL(payment_currency, IF(account='ALIPAY', 'USD', 'TWD')) as payment_currency,	                payment_total,	                min(unix_timestamp(canceled)) as order_canceled,	                unix_timestamp(created) AS created,	                unix_timestamp(canceled) AS canceled,	                unix_timestamp(paid) AS paid,	                unix_timestamp(scheduled) AS scheduled,	                unix_timestamp(shipped) AS shipped,	                unix_timestamp(received) AS received,	                unix_timestamp(closed) AS closed,	                unix_timestamp(sreviewed) AS sreviewed,	                unix_timestamp(breviewed) AS breviewed,	                sum(quantity * price) AS subtotal,	                sum(quantity * oprice) AS oprice_total,	                count(oid) AS sku,	                GROUP_CONCAT(item SEPARATOR ' ') AS items_tid,	                GROUP_CONCAT(dummy SEPARATOR ' ') AS items_dummy,	                GROUP_CONCAT(price SEPARATOR ' ') AS items_price,	                GROUP_CONCAT(oprice SEPARATOR ' ') AS items_oprice,	                GROUP_CONCAT(quantity SEPARATOR ' ') AS items_quantity,	                GROUP_CONCAT(seller SEPARATOR ' ') AS items_owner,	                GROUP_CONCAT(IFNULL(variation, '') SEPARATOR ' ') AS items_variation,	                GROUP_CONCAT(title SEPARATOR ' ') AS items_title,	                GROUP_CONCAT(CONVERT(unix_timestamp(`canceled`), char(20)) SEPARATOR ' ') AS items_canceled	                FROM orders	                USE INDEX (orders_buyer, orders_seller, primary)	                 WHERE (`oid` = '201710271813NYMq')	                GROUP BY oid	                	                ORDER BY created DESC	                LIMIT 0,10"
- - - [24/Nov/2017:18:26:52 +0800] - - - - - [SQL] "0.003s" "SELECT `seller` AS `suid`, `buyer` AS `buid`, count(distinct oid) as count FROM `orders` WHERE `buyer` IN ('vegetable80923') AND `canceled` = 0 AND `seller` IN ('chihyu000') GROUP BY `seller`, `buyer`"

/store
/user
/user
2017-10-28 18:13:30
NT$1,210

- - - [24/Nov/2017:18:26:53 +0800] - - - - - [SQL] "0.001s" "select	                oid,	                unix_timestamp(requested),	                unix_timestamp(agreed),	                unix_timestamp(refunded),	                unix_timestamp(disagreed),	                unix_timestamp(closed)	            from refund	            where oid in ('201710271813NYMq')"

In [4]:
country_code = 'TW'
coupon_d = issue_coupon(order, 'TW')

print coupon_d
'''
if coupon_d:
    for locale in ('zh_TW','ja', 'th', 'en', 'zh_CN'):
        with Translate(locale):
            user.set_locale(locale)
            anniv_2017_msg.send_extra_coupon_message('vegetable80923', 'test', 'ID')
'''

{'code': '@A3Ku', 'uid': u'vegetable80923', 'discount': 0, 'memo': 'anniversary_2017', 'credit': 100, 'activated': 0, 'onorder': 0, 'currency': 'TWD', 'valid': 1, 'onfollow': 0, 'rule': 'freeshipping', 'owner': 'pinkoi', 'deductible': 50, 'expired': datetime.datetime(2017, 12, 31, 23, 59, 59), 'condition': '{"limit": 1}'}

[mine] sql sql {'request_time_ms': 1, 'sql': 'INSERT INTO coupon (`code`,`uid`,`credit`,`memo`,`activated`,`onorder`,`currency`,`discount`,`valid`,`onfollow`,`rule`,`owner`,`deductible`,`expired`,`condition`) VALUES(\'@A3Ku\',\'vegetable80923\',100,\'anniversary_2017\',0,0,\'TWD\',0,1,0,\'freeshipping\',\'pinkoi\',50,\'2017-12-31 23:59:59\',\'{\\"limit\\": 1}\')'}
- - - [24/Nov/2017:18:27:41 +0800] - - - - - [SQL] "0.001s" "INSERT INTO coupon (`code`,`uid`,`credit`,`memo`,`activated`,`onorder`,`currency`,`discount`,`valid`,`onfollow`,`rule`,`owner`,`deductible`,`expired`,`condition`) VALUES('@A3Ku','vegetable80923',100,'anniversary_2017',0,0,'TWD',0,1,0,'freeshipping','pinkoi',50,'2017-12-31 23:59:59','{\"limit\": 1}')"

"\nif coupon_d:\n    for locale in ('zh_TW','ja', 'th', 'en', 'zh_CN'):\n        with Translate(locale):\n            user.set_locale(locale)\n            anniv_2017_msg.send_extra_coupon_message('vegetable80923', 'test', 'ID')\n"

In [7]:
anniv_2017_msg.send_extra_coupon_message('vegetable80923', 'test', 'country_code')

/reward

- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "SELECT * FROM fx WHERE start=201710"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "SELECT * FROM campaign WHERE uid='chihyu000' and (start >= date_sub(20171001, interval 30 day) or end >= date(20171001))"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "SELECT * FROM service WHERE uid='chihyu000' and created >= date(20171001) and created < date(20171101)"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.001s" "SELECT	                            oid,	                            GROUP_CONCAT(item SEPARATOR ' ') AS items_tid,	                            GROUP_CONCAT(quantity SEPARATOR ' ') AS items_quantity,	                            GROUP_CONCAT(title SEPARATOR ' ') AS items_title,	                            item,	                            quantity,	                            seller,	                            buyer,	                            payment_fee,	                            payment_method,	                            deductible,	                            coupon,	                            coupon_deduct,	                            giftcard_deduct,	                            reward_deduct,	                            coupon_credit,	                            sum(quantity*price) as subtotal,	                            sum(quantity*oprice) as o_subtotal,	                            handling,	                            currency,	                            total,	                            payment_currency,	                            payment_total,	                            created	                        FROM	                            orders	                        WHERE	                            seller='chihyu000' AND  paid >= "2016-03-01" AND shipped >= date(20171001) AND shipped < date(20171101) AND shipped != 0 AND 	                            paid !=0 AND	                            canceled = 0	                        GROUP BY	                            oid	                        ORDER BY	                            created ASC"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "SELECT `twd_service_fee` FROM `advocate_statistic` WHERE `month` = 10 AND `uid` = 'chihyu000' AND `year` = 2017 LIMIT 1"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "select paid from transaction where period = 201710 and uid = 'chihyu000' and paid > 0"
[mine] sql sql {'request_time_ms': 0, 'sql': 'INSERT INTO transaction (`payment_fee`,`fx_gain`,`vipbuyer`,`absorb`,`handling`,`fee_adjustment`,`period`,`bestseller`,`fee`,`freqbuyer`,`invoice_amt`,`balance`,`subtotal`,`subtotal_adjustment`,`vat`,`uid`) VALUES(0,0,\'[[\\"vegetable80923\\", 2250, \\"y5duPZtZ\\"]]\',50,0,0,201710,\'[[\\"y5duPZtZ\\", 5]]\',348,\'[[\\"vegetable80923\\", 5, \\"y5duPZtZ\\"]]\',315,1885,2250,0,17,\'chihyu000\') ON DUPLICATE KEY UPDATE\n                        subtotal=2250, fee=348, vat=17, handling=0, absorb=50, payment_fee=0, balance=1885, subtotal_adjustment=0, fee_adjustment=0, fx_gain=0, bestseller=\'[[\\"y5duPZtZ\\", 5]]\', freqbuyer=\'[[\\"vegetable80923\\", 5, \\"y5duPZtZ\\"]]\', vipbuyer=\'[[\\"vegetable80923\\", 2250, \\"y5duPZtZ\\"]]\''}
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "INSERT INTO transaction (`payment_fee`,`fx_gain`,`vipbuyer`,`absorb`,`handling`,`fee_adjustment`,`period`,`bestseller`,`fee`,`freqbuyer`,`invoice_amt`,`balance`,`subtotal`,`subtotal_adjustment`,`vat`,`uid`) VALUES(0,0,'[[\"vegetable80923\", 2250, \"y5duPZtZ\"]]',50,0,0,201710,'[[\"y5duPZtZ\", 5]]',348,'[[\"vegetable80923\", 5, \"y5duPZtZ\"]]',315,1885,2250,0,17,'chihyu000') ON DUPLICATE KEY UPDATE	                        subtotal=2250, fee=348, vat=17, handling=0, absorb=50, payment_fee=0, balance=1885, subtotal_adjustment=0, fee_adjustment=0, fx_gain=0, bestseller='[[\"y5duPZtZ\", 5]]', freqbuyer='[[\"vegetable80923\", 5, \"y5duPZtZ\"]]', vipbuyer='[[\"vegetable80923\", 2250, \"y5duPZtZ\"]]'"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "select points, records from reward where owner = 'vegetable80923' for update"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert into\n                reward\n            values\n                ('vegetable80923', 1210, '{}', '2017-10-30 17:14:51', '2017-10-30 17:14:51')\n            on duplicate key update\n                points = points+1210, records = '{}'"}
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "insert into	                reward	            values	                ('vegetable80923', 1210, '{}', '2017-10-30 17:14:51', '2017-10-30 17:14:51')	            on duplicate key update	                points = points+1210, records = '{}'"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "select points, records from reward where owner = 'vegetable80923' for update"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert into\n                reward\n            values\n                ('vegetable80923', 200, '{}', '2017-10-30 17:14:51', '2017-10-30 17:14:51')\n            on duplicate key update\n                points = points+200, records = '{}'"}
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "insert into	                reward	            values	                ('vegetable80923', 200, '{}', '2017-10-30 17:14:51', '2017-10-30 17:14:51')	            on duplicate key update	                points = points+200, records = '{}'"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "select currency from orders where buyer = 'vegetable80923' order by created limit 1"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "select	                total,	                currency	            from orders	            where	                buyer = 'vegetable80923' and	                paid > 0 and canceled = 0	            group by	                oid"
- - - [30/Oct/2017:17:14:51 +0800] - - - - - [SQL] "0.000s" "select distinct key_	            from vip_offers	            where uid = 'vegetable80923' order by created"