In [1]:
cd ~/pinkoi/

/home/chihyu_lin/pinkoi

In [2]:
from pinkoi.models2.base import db01 as db

In [26]:
with db as cur:
    cur.execute('''
    select lv.sid, tid, var_id_1, var_id_2
    from listing_variations as lv
    left join variation_phrases as vp
    on
        lv.sid = vp.sid and
        (var_id_1 = var_id or var_id_2 = var_id)
    where var_id is NULL
    and lv.sid = 'chihyu000'
    ''')
    rows = list(cur)
print len(rows)
print rows[0]

0

- - - [22/Mar/2018:18:26:07 +0800] - - - - - [SQL] "0.001s" "select lv.sid, tid, var_id_1, var_id_2	    from listing_variations as lv	    left join variation_phrases as vp	    on	        lv.sid = vp.sid and	        (var_id_1 = var_id or var_id_2 = var_id)	    where var_id is NULL	    and lv.sid = 'chihyu000'"

IndexError: list index out of range

In [24]:
for sid, tid, var_id_1, var_id_2 in rows:
    with db as cur:
        for locale in ('zh_TW', 'zh_CN', 'ja', 'th', 'en'):
            if var_id_1:
                print sid, var_id_1
                cur.execute(
                '''
                    insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)
                    value (%s, %s, %s, %s, NOW())
                ''', (sid, var_id_1, locale, u'[{}] {}'.format(locale, var_id_1))
                )
            if var_id_2:
                print sid, var_id_2
                cur.execute(
                '''
                    insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)
                    value (%s, %s, %s, %s, NOW())
                ''', (sid, var_id_2, locale, u'[{}] {}'.format(locale, var_id_2))
                )
            if not var_id_2:
                print sid, var_id_2
                cur.execute(
                '''
                    insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)
                    value (%s, %s, %s, %s, NOW())
                ''', (sid, var_id_2, locale, u'')
                )

adam ring-size-hk-no-15
adam
adam ring-size-hk-no-15
adam
adam ring-size-hk-no-15
adam
adam ring-size-hk-no-15
adam
adam ring-size-hk-no-15
adam
adam ring-size-hk-no-20
adam
adam ring-size-hk-no-20
adam
adam ring-size-hk-no-20
adam
adam ring-size-hk-no-20
adam
adam ring-size-hk-no-20
adam
adam ring-size-jp-no-5
adam
adam ring-size-jp-no-5
adam
adam ring-size-jp-no-5
adam
adam ring-size-jp-no-5
adam
adam ring-size-jp-no-5
adam
adam size-l
adam
adam size-l
adam
adam size-l
adam
adam size-l
adam
adam size-l
adam
adam size-m
adam
adam size-m

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-15', 'zh_TW', '[zh_TW] ring-size-hk-no-15', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-15', 'zh_TW', '[zh_TW] ring-size-hk-no-15', NOW())"
[mine] sql sql {'request_time_ms': 28, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.028s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-15', 'zh_CN', '[zh_CN] ring-size-hk-no-15', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-15', 'zh_CN', '[zh_CN] ring-size-hk-no-15', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-15', 'ja', '[ja] ring-size-hk-no-15', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-15', 'ja', '[ja] ring-size-hk-no-15', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-15', 'th', '[th] ring-size-hk-no-15', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-15', 'th', '[th] ring-size-hk-no-15', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-15', 'en', '[en] ring-size-hk-no-15', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-15', 'en', '[en] ring-size-hk-no-15', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-20', 'zh_TW', '[zh_TW] ring-size-hk-no-20', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-20', 'zh_TW', '[zh_TW] ring-size-hk-no-20', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-20', 'zh_CN', '[zh_CN] ring-size-hk-no-20', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-20', 'zh_CN', '[zh_CN] ring-size-hk-no-20', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-20', 'ja', '[ja] ring-size-hk-no-20', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-20', 'ja', '[ja] ring-size-hk-no-20', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-20', 'th', '[th] ring-size-hk-no-20', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-20', 'th', '[th] ring-size-hk-no-20', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-hk-no-20', 'en', '[en] ring-size-hk-no-20', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-hk-no-20', 'en', '[en] ring-size-hk-no-20', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-jp-no-5', 'zh_TW', '[zh_TW] ring-size-jp-no-5', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-jp-no-5', 'zh_TW', '[zh_TW] ring-size-jp-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-jp-no-5', 'zh_CN', '[zh_CN] ring-size-jp-no-5', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-jp-no-5', 'zh_CN', '[zh_CN] ring-size-jp-no-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-jp-no-5', 'ja', '[ja] ring-size-jp-no-5', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-jp-no-5', 'ja', '[ja] ring-size-jp-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-jp-no-5', 'th', '[th] ring-size-jp-no-5', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-jp-no-5', 'th', '[th] ring-size-jp-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'ring-size-jp-no-5', 'en', '[en] ring-size-jp-no-5', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'ring-size-jp-no-5', 'en', '[en] ring-size-jp-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('adam', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('adam', 'size-m', 'en', '[en] size-m', NOW())"}

adam
adam size-m
adam
adam size-m
adam
adam size-m
adam
adam size-s
adam
adam size-s
adam
adam size-s
adam
adam size-s
adam
adam size-s
adam
app-team size-m
app-team color-gray
app-team size-m
app-team color-gray
app-team size-m
app-team color-gray
app-team size-m
app-team color-gray
app-team size-m
app-team color-gray
app-team size-m
app-team color-red
app-team size-m
app-team color-red
app-team size-m
app-team color-red
app-team size-m
app-team color-red
app-team size-m
app-team color-red
app-team size-m
app-team color-white
app-team size-m
app-team color-white
app-team size-m
app-team color-white
app-team size-m
app-team color-white
app-team size-m
app-team color-white
app-team size-s
app-team color-gray
app-team size-s
app-team color-gray
app-team size-s
app-team color-gray
app-team size-s
app-team color-gray
app-team size-s
app-team color-gray
app-team size-s
app-team color-red
app-team size-s
app-team color-red
app-team size-s
app-team color-red
app-team size-s
app-team color-red
app-team size-s
app-team color-red

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"}

app-team size-s
app-team color-white
app-team size-s
app-team color-white
app-team size-s
app-team color-white
app-team size-s
app-team color-white
app-team size-s
app-team color-white
app-team size-xs
app-team color-gray
app-team size-xs
app-team color-gray
app-team size-xs
app-team color-gray
app-team size-xs
app-team color-gray
app-team size-xs
app-team color-gray
app-team size-xs
app-team color-red
app-team size-xs
app-team color-red
app-team size-xs
app-team color-red
app-team size-xs
app-team color-red
app-team size-xs
app-team color-red
app-team size-xs
app-team color-white
app-team size-xs
app-team color-white
app-team size-xs
app-team color-white
app-team size-xs
app-team color-white
app-team size-xs
app-team color-white
app-team size-m
app-team
app-team size-m
app-team
app-team size-m
app-team
app-team size-m
app-team
app-team size-m
app-team
app-team size-s
app-team
app-team size-s
app-team
app-team size-s
app-team
app-team size-s
app-team
app-team size-s
app-team
app-team size-xs
app-team
app-team size-xs
app-team
app-team size-xs
app-team
app-team size-xs
app-team
app-team size-xs
app-team

 {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:46 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('app-team', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('app-team', 'size-xxs', 'en', '[en] size-xxs', NOW())"}

app-team size-xxs
app-team
app-team size-xxs
app-team
app-team size-xxs
app-team
app-team size-xxs
app-team
app-team size-xxs
app-team
carol-test size-l
carol-test
carol-test size-l
carol-test
carol-test size-l
carol-test
carol-test size-l
carol-test
carol-test size-l
carol-test
carol-test size-m
carol-test
carol-test size-m
carol-test
carol-test size-m
carol-test
carol-test size-m
carol-test
carol-test size-m
carol-test
carol-test size-s
carol-test
carol-test size-s
carol-test
carol-test size-s
carol-test
carol-test size-s
carol-test
carol-test size-s
carol-test
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black
cn-dr size-m
cn-dr color-black

 sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('carol-test', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('carol-test', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('cn-dr', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('cn-dr', 'size-xs', 'th', '[th] size-xs', NOW())"

cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
cn-dr size-xs
cn-dr color-black
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5', 'ja', '[ja] mens-shoes-size-uk-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5', 'ja', '[ja] mens-shoes-size-uk-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5', 'th', '[th] mens-shoes-size-uk-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5', 'th', '[th] mens-shoes-size-uk-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5', 'en', '[en] mens-shoes-size-uk-5', NOW())"}

colorpyen mens-shoes-size-uk-5
colorpyen
colorpyen mens-shoes-size-uk-5
colorpyen
colorpyen mens-shoes-size-uk-5
colorpyen
colorpyen mens-shoes-size-uk-5
colorpyen
colorpyen mens-shoes-size-uk-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen

- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'ja', '[ja] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'ja', '[ja] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'th', '[th] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'th', '[th] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'en', '[en] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'en', '[en] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'en', '[en] size-xxs', NOW())"}

colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'en', '[en] size-l', NOW())"

colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-7
colorpyen
colorpyen mens-shoes-size-uk-7
colorpyen
colorpyen mens-shoes-size-uk-7
colorpyen
colorpyen mens-shoes-size-uk-7
colorpyen
colorpyen mens-shoes-size-uk-7
colorpyen
colorpyen mens-shoes-size-uk-7-5
colorpyen
colorpyen mens-shoes-size-uk-7-5
colorpyen
colorpyen mens-shoes-size-uk-7-5
colorpyen
colorpyen mens-shoes-size-uk-7-5
colorpyen
colorpyen mens-shoes-size-uk-7-5
colorpyen
colorpyen mens-shoes-size-uk-8
colorpyen
colorpyen mens-shoes-size-uk-8
colorpyen
colorpyen mens-shoes-size-uk-8
colorpyen
colorpyen mens-shoes-size-uk-8
colorpyen
colorpyen mens-shoes-size-uk-8
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-l
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7', 'zh_TW', '[zh_TW] mens-shoes-size-uk-7', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7', 'zh_TW', '[zh_TW] mens-shoes-size-uk-7', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7', 'zh_CN', '[zh_CN] mens-shoes-size-uk-7', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7', 'zh_CN', '[zh_CN] mens-shoes-size-uk-7', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7', 'ja', '[ja] mens-shoes-size-uk-7', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7', 'ja', '[ja] mens-shoes-size-uk-7', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7', 'th', '[th] mens-shoes-size-uk-7', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7', 'th', '[th] mens-shoes-size-uk-7', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7', 'en', '[en] mens-shoes-size-uk-7', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7', 'en', '[en] mens-shoes-size-uk-7', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-7-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-7-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-7-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-7-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'ja', '[ja] mens-shoes-size-uk-7-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'ja', '[ja] mens-shoes-size-uk-7-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'th', '[th] mens-shoes-size-uk-7-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'th', '[th] mens-shoes-size-uk-7-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'en', '[en] mens-shoes-size-uk-7-5', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-7-5', 'en', '[en] mens-shoes-size-uk-7-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-8', 'zh_TW', '[zh_TW] mens-shoes-size-uk-8', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-8', 'zh_TW', '[zh_TW] mens-shoes-size-uk-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-8', 'zh_CN', '[zh_CN] mens-shoes-size-uk-8', NOW())"}
- - - [22/Mar/2018:18:24:47 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-8', 'zh_CN', '[zh_CN] mens-shoes-size-uk-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-8', 'ja', '[ja] mens-shoes-size-uk-8', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-8', 'ja', '[ja] mens-shoes-size-uk-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-8', 'th', '[th] mens-shoes-size-uk-8', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-8', 'th', '[th] mens-shoes-size-uk-8', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-8', 'en', '[en] mens-shoes-size-uk-8', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-8', 'en', '[en] mens-shoes-size-uk-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"

colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen womens-shoes-size-us-5-5
colorpyen
colorpyen womens-shoes-size-us-5-5
colorpyen
colorpyen womens-shoes-size-us-5-5
colorpyen
colorpyen womens-shoes-size-us-5-5
colorpyen
colorpyen womens-shoes-size-us-5-5
colorpyen
colorpyen womens-shoes-size-us-6
colorpyen
colorpyen womens-shoes-size-us-6
colorpyen
colorpyen womens-shoes-size-us-6
colorpyen
colorpyen womens-shoes-size-us-6
colorpyen
colorpyen womens-shoes-size-us-6
colorpyen
colorpyen womens-shoes-size-us-6-5
colorpyen
colorpyen womens-shoes-size-us-6-5
colorpyen
colorpyen womens-shoes-size-us-6-5
colorpyen
colorpyen womens-shoes-size-us-6-5
colorpyen
colorpyen womens-shoes-size-us-6-5
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen

sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6', 'zh_CN', '[zh_CN] womens-shoes-size-us-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6', 'zh_CN', '[zh_CN] womens-shoes-size-us-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6', 'ja', '[ja] womens-shoes-size-us-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6', 'ja', '[ja] womens-shoes-size-us-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6', 'th', '[th] womens-shoes-size-us-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6', 'th', '[th] womens-shoes-size-us-6', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6', 'en', '[en] womens-shoes-size-us-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6', 'en', '[en] womens-shoes-size-us-6', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'zh_TW', '[zh_TW] womens-shoes-size-us-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'zh_TW', '[zh_TW] womens-shoes-size-us-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'zh_CN', '[zh_CN] womens-shoes-size-us-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'zh_CN', '[zh_CN] womens-shoes-size-us-6-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'ja', '[ja] womens-shoes-size-us-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'ja', '[ja] womens-shoes-size-us-6-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'th', '[th] womens-shoes-size-us-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'th', '[th] womens-shoes-size-us-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'en', '[en] womens-shoes-size-us-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'womens-shoes-size-us-6-5', 'en', '[en] womens-shoes-size-us-6-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}

size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen size-xxs
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-5-5
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen
colorpyen mens-shoes-size-uk-6-5
colorpyen

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'ja', '[ja] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'ja', '[ja] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'th', '[th] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'th', '[th] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'en', '[en] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-5-5', 'en', '[en] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6', 'ja', '[ja] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6', 'ja', '[ja] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6', 'th', '[th] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6', 'th', '[th] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6', 'en', '[en] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6', 'en', '[en] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'ja', '[ja] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'ja', '[ja] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'th', '[th] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'th', '[th] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'en', '[en] mens-shoes-size-uk-6-5', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'mens-shoes-size-uk-6-5', 'en', '[en] mens-shoes-size-uk-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-xl', 'en', '[en] size-xl', NOW())"}

colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xl
colorpyen
colorpyen size-xxl
colorpyen
colorpyen size-xxl
colorpyen
colorpyen size-xxl
colorpyen
colorpyen size-xxl
colorpyen
colorpyen size-xxl
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-m
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
colorpyen size-s
colorpyen
en-dr size-m
en-dr color-black
en-dr size-m
en-dr color-black
en-dr size-m
en-dr color-black
en-dr size-m
en-dr color-black
en-dr size-m
en-dr color-black
en-dr size-m
en-dr color-gray
en-dr size-m
en-dr color-gray
en-dr size-m
en-dr color-gray
en-dr size-m
en-dr color-gray
en-dr size-m
en-dr color-gray
en-dr size-m
en-dr color-white
en-dr size-m
en-dr color-white
en-dr size-m
en-dr color-white
en-dr size-m
en-dr color-white
en-dr size-m
en-dr color-white

{'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('colorpyen', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('colorpyen', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'th', '[th] color-black', NOW())"}

en-dr size-s
en-dr color-black
en-dr size-s
en-dr color-black
en-dr size-s
en-dr color-black
en-dr size-s
en-dr color-black
en-dr size-s
en-dr color-black
en-dr size-s
en-dr color-gray
en-dr size-s
en-dr color-gray
en-dr size-s
en-dr color-gray
en-dr size-s
en-dr color-gray
en-dr size-s
en-dr color-gray
en-dr size-s
en-dr color-white
en-dr size-s
en-dr color-white
en-dr size-s
en-dr color-white
en-dr size-s
en-dr color-white
en-dr size-s
en-dr color-white
en-dr size-xs
en-dr color-black
en-dr size-xs
en-dr color-black
en-dr size-xs
en-dr color-black
en-dr size-xs
en-dr color-black
en-dr size-xs
en-dr color-black
en-dr size-xs
en-dr color-gray
en-dr size-xs
en-dr color-gray
en-dr size-xs
en-dr color-gray
en-dr size-xs
en-dr color-gray
en-dr size-xs
en-dr color-gray
en-dr size-xs
en-dr color-white
en-dr size-xs
en-dr color-white
en-dr size-xs
en-dr color-white
en-dr size-xs
en-dr color-white
en-dr size-xs
en-dr color-white
hk-dr color-gray
hk-dr
hk-dr color-gray
hk-dr
hk-dr color-gray
hk-dr
hk-dr color-gray
hk-dr
hk-dr color-gray
hk-dr

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('en-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('en-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', '', 'en', '', NOW())"}

hk-dr color-white
hk-dr
hk-dr color-white
hk-dr
hk-dr color-white
hk-dr
hk-dr color-white
hk-dr
hk-dr color-white
hk-dr
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s

{'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:48 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-gray', 'th', '[th] color-gray', NOW())"

hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-l
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-m
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-gray
hk-dr size-s
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-l
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-m
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
hk-dr color-white
hk-dr size-s
intl-hk size-l
intl-hk color-red
intl-hk size-l
intl-hk color-red
intl-hk size-l
intl-hk color-red
intl-hk size-l
intl-hk color-red
intl-hk size-l
intl-hk color-red

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('hk-dr', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('hk-dr', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'th', '[th] size-l', NOW())"}

intl-hk size-l
intl-hk color-white
intl-hk size-l
intl-hk color-white
intl-hk size-l
intl-hk color-white
intl-hk size-l
intl-hk color-white
intl-hk size-l
intl-hk color-white
intl-hk size-m
intl-hk color-red
intl-hk size-m
intl-hk color-red
intl-hk size-m
intl-hk color-red
intl-hk size-m
intl-hk color-red
intl-hk size-m
intl-hk color-red
intl-hk size-m
intl-hk color-white
intl-hk size-m
intl-hk color-white
intl-hk size-m
intl-hk color-white
intl-hk size-m
intl-hk color-white
intl-hk size-m
intl-hk color-white
intl-hk size-s
intl-hk color-red
intl-hk size-s
intl-hk color-red
intl-hk size-s
intl-hk color-red
intl-hk size-s
intl-hk color-red
intl-hk size-s
intl-hk color-red
intl-hk size-s
intl-hk color-white
intl-hk size-s
intl-hk color-white
intl-hk size-s
intl-hk color-white
intl-hk size-s
intl-hk color-white
intl-hk size-s
intl-hk color-white
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'th', '', NOW())"

intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-l
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-m
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-hk size-s
intl-hk
intl-ja size-l
intl-ja
intl-ja size-l
intl-ja
intl-ja size-l
intl-ja
intl-ja size-l
intl-ja
intl-ja size-l
intl-ja
intl-ja size-xxl
intl-ja
intl-ja size-xxl
intl-ja
intl-ja size-xxl
intl-ja
intl-ja size-xxl
intl-ja
intl-ja size-xxl
intl-ja
intl-th ring-size-us-no-3-5
intl-th
intl-th ring-size-us-no-3-5
intl-th
intl-th ring-size-us-no-3-5
intl-th
intl-th ring-size-us-no-3-5
intl-th
intl-th ring-size-us-no-3-5
intl-th

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-hk', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-hk', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-xxl', 'zh_TW', '[zh_TW] size-xxl', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-xxl', 'zh_TW', '[zh_TW] size-xxl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-xxl', 'zh_CN', '[zh_CN] size-xxl', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-xxl', 'zh_CN', '[zh_CN] size-xxl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-xxl', 'ja', '[ja] size-xxl', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-xxl', 'ja', '[ja] size-xxl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-xxl', 'th', '[th] size-xxl', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-xxl', 'th', '[th] size-xxl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', 'size-xxl', 'en', '[en] size-xxl', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', 'size-xxl', 'en', '[en] size-xxl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-ja', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-ja', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-3-5', 'zh_TW', '[zh_TW] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-3-5', 'zh_TW', '[zh_TW] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-3-5', 'zh_CN', '[zh_CN] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-3-5', 'zh_CN', '[zh_CN] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-3-5', 'ja', '[ja] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-3-5', 'ja', '[ja] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-3-5', 'th', '[th] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-3-5', 'th', '[th] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-3-5', 'en', '[en] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-3-5', 'en', '[en] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-4', 'zh_TW', '[zh_TW] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-4', 'zh_TW', '[zh_TW] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-4', 'zh_CN', '[zh_CN] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-4', 'zh_CN', '[zh_CN] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-4', 'ja', '[ja] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-4', 'ja', '[ja] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-4', 'th', '[th] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'ring-size-us-no-4', 'th', '[th] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'ring-size-us-no-4', 'en', '[en] ring-size-us-no-4', NOW())"}

intl-th ring-size-us-no-4
intl-th
intl-th ring-size-us-no-4
intl-th
intl-th ring-size-us-no-4
intl-th
intl-th ring-size-us-no-4
intl-th
intl-th ring-size-us-no-4
intl-th
intl-th mens-shoes-size-uk-8
intl-th
intl-th mens-shoes-size-uk-8
intl-th
intl-th mens-shoes-size-uk-8
intl-th
intl-th mens-shoes-size-uk-8
intl-th
intl-th mens-shoes-size-uk-8
intl-th
intl-th mens-shoes-size-uk-8-5
intl-th
intl-th mens-shoes-size-uk-8-5
intl-th
intl-th mens-shoes-size-uk-8-5
intl-th
intl-th mens-shoes-size-uk-8-5
intl-th
intl-th mens-shoes-size-uk-8-5
intl-th
intl-th mens-shoes-size-uk-9
intl-th
intl-th mens-shoes-size-uk-9
intl-th
intl-th mens-shoes-size-uk-9
intl-th
intl-th mens-shoes-size-uk-9
intl-th
intl-th mens-shoes-size-uk-9
intl-th
intl-th size-s
intl-th
intl-th size-s
intl-th
intl-th size-s
intl-th
intl-th size-s
intl-th
intl-th size-s
intl-th
intl-th size-xs
intl-th
intl-th size-xs
intl-th
intl-th size-xs
intl-th
intl-th size-xs
intl-th
intl-th size-xs
intl-th
intl-th size-xxs
intl-th
intl-th size-xxs
intl-th
intl-th size-xxs
intl-th
intl-th size-xxs
intl-th
intl-th size-xxs
intl-th

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'mens-shoes-size-uk-9', 'zh_TW', '[zh_TW] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'mens-shoes-size-uk-9', 'zh_TW', '[zh_TW] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'mens-shoes-size-uk-9', 'zh_CN', '[zh_CN] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'mens-shoes-size-uk-9', 'zh_CN', '[zh_CN] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'mens-shoes-size-uk-9', 'ja', '[ja] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'mens-shoes-size-uk-9', 'ja', '[ja] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 5, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.005s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'mens-shoes-size-uk-9', 'th', '[th] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'mens-shoes-size-uk-9', 'th', '[th] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'mens-shoes-size-uk-9', 'en', '[en] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'mens-shoes-size-uk-9', 'en', '[en] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-th', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-th', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:49 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"

intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw ring-size-us-no-8
intl-tw
intl-tw ring-size-us-no-8
intl-tw
intl-tw ring-size-us-no-8
intl-tw
intl-tw ring-size-us-no-8
intl-tw
intl-tw ring-size-us-no-8
intl-tw

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-8', 'zh_TW', '[zh_TW] ring-size-us-no-8', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-8', 'zh_TW', '[zh_TW] ring-size-us-no-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-8', 'zh_CN', '[zh_CN] ring-size-us-no-8', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-8', 'zh_CN', '[zh_CN] ring-size-us-no-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-8', 'ja', '[ja] ring-size-us-no-8', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-8', 'ja', '[ja] ring-size-us-no-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-8', 'th', '[th] ring-size-us-no-8', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-8', 'th', '[th] ring-size-us-no-8', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-8', 'en', '[en] ring-size-us-no-8', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-8', 'en', '[en] ring-size-us-no-8', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-9', 'zh_TW', '[zh_TW] ring-size-us-no-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-9', 'zh_TW', '[zh_TW] ring-size-us-no-9', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-9', 'zh_CN', '[zh_CN] ring-size-us-no-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-9', 'zh_CN', '[zh_CN] ring-size-us-no-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-9', 'ja', '[ja] ring-size-us-no-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'ring-size-us-no-9', 'ja', '[ja] ring-size-us-no-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'ring-size-us-no-9', 'th', '[th] ring-size-us-no-9', NOW())"}

intl-tw ring-size-us-no-9
intl-tw
intl-tw ring-size-us-no-9
intl-tw
intl-tw ring-size-us-no-9
intl-tw
intl-tw ring-size-us-no-9
intl-tw
intl-tw ring-size-us-no-9
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-xl
intl-tw
intl-tw size-xl
intl-tw
intl-tw size-xl
intl-tw
intl-tw size-xl
intl-tw
intl-tw size-xl
intl-tw
intl-tw mens-shoes-size-us-10
intl-tw
intl-tw mens-shoes-size-us-10
intl-tw
intl-tw mens-shoes-size-us-10
intl-tw
intl-tw mens-shoes-size-us-10
intl-tw
intl-tw mens-shoes-size-us-10
intl-tw
intl-tw mens-shoes-size-us-9
intl-tw
intl-tw mens-shoes-size-us-9
intl-tw
intl-tw mens-shoes-size-us-9
intl-tw
intl-tw mens-shoes-size-us-9
intl-tw
intl-tw mens-shoes-size-us-9
intl-tw
intl-tw mens-shoes-size-us-9-5
intl-tw
intl-tw mens-shoes-size-us-9-5
intl-tw
intl-tw mens-shoes-size-us-9-5
intl-tw
intl-tw mens-shoes-size-us-9-5
intl-tw
intl-tw mens-shoes-size-us-9-5
intl-tw

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 7, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.007s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-10', 'zh_TW', '[zh_TW] mens-shoes-size-us-10', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-10', 'zh_TW', '[zh_TW] mens-shoes-size-us-10', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-10', 'zh_CN', '[zh_CN] mens-shoes-size-us-10', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-10', 'zh_CN', '[zh_CN] mens-shoes-size-us-10', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-10', 'ja', '[ja] mens-shoes-size-us-10', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-10', 'ja', '[ja] mens-shoes-size-us-10', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-10', 'th', '[th] mens-shoes-size-us-10', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-10', 'th', '[th] mens-shoes-size-us-10', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-10', 'en', '[en] mens-shoes-size-us-10', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-10', 'en', '[en] mens-shoes-size-us-10', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9', 'zh_TW', '[zh_TW] mens-shoes-size-us-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9', 'zh_TW', '[zh_TW] mens-shoes-size-us-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9', 'zh_CN', '[zh_CN] mens-shoes-size-us-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9', 'zh_CN', '[zh_CN] mens-shoes-size-us-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9', 'ja', '[ja] mens-shoes-size-us-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9', 'ja', '[ja] mens-shoes-size-us-9', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9', 'th', '[th] mens-shoes-size-us-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9', 'th', '[th] mens-shoes-size-us-9', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9', 'en', '[en] mens-shoes-size-us-9', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9', 'en', '[en] mens-shoes-size-us-9', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'zh_TW', '[zh_TW] mens-shoes-size-us-9-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'zh_TW', '[zh_TW] mens-shoes-size-us-9-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'zh_CN', '[zh_CN] mens-shoes-size-us-9-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'zh_CN', '[zh_CN] mens-shoes-size-us-9-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'ja', '[ja] mens-shoes-size-us-9-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'ja', '[ja] mens-shoes-size-us-9-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'th', '[th] mens-shoes-size-us-9-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'th', '[th] mens-shoes-size-us-9-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'en', '[en] mens-shoes-size-us-9-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-us-9-5', 'en', '[en] mens-shoes-size-us-9-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-4-5', 'zh_TW', '[zh_TW] womens-shoes-size-us-4-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-4-5', 'zh_TW', '[zh_TW] womens-shoes-size-us-4-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-4-5', 'zh_CN', '[zh_CN] womens-shoes-size-us-4-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-4-5', 'zh_CN', '[zh_CN] womens-shoes-size-us-4-5', NOW())"
[mine] sql sql {'request_time_ms': 5, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.005s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-4-5', 'ja', '[ja] womens-shoes-size-us-4-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-4-5', 'ja', '[ja] womens-shoes-size-us-4-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-black', 'ja', '[ja] color-black', NOW())"

intl-tw womens-shoes-size-us-4-5
intl-tw color-black
intl-tw womens-shoes-size-us-4-5
intl-tw color-black
intl-tw womens-shoes-size-us-4-5
intl-tw color-black
intl-tw womens-shoes-size-us-4-5
intl-tw color-black
intl-tw womens-shoes-size-us-4-5
intl-tw color-black
intl-tw womens-shoes-size-us-4-5
intl-tw color-white
intl-tw womens-shoes-size-us-4-5
intl-tw color-white
intl-tw womens-shoes-size-us-4-5
intl-tw color-white
intl-tw womens-shoes-size-us-4-5
intl-tw color-white
intl-tw womens-shoes-size-us-4-5
intl-tw color-white
intl-tw womens-shoes-size-us-5
intl-tw color-black
intl-tw womens-shoes-size-us-5
intl-tw color-black
intl-tw womens-shoes-size-us-5
intl-tw color-black
intl-tw womens-shoes-size-us-5
intl-tw color-black
intl-tw womens-shoes-size-us-5
intl-tw color-black
intl-tw womens-shoes-size-us-5
intl-tw color-white
intl-tw womens-shoes-size-us-5
intl-tw color-white
intl-tw womens-shoes-size-us-5
intl-tw color-white
intl-tw womens-shoes-size-us-5
intl-tw color-white
intl-tw womens-shoes-size-us-5
intl-tw color-white
intl-tw color-pink
intl-tw
intl-tw color-pink
intl-tw
intl-tw color-pink
intl-tw
intl-tw color-pink
intl-tw
intl-tw color-pink
intl-tw
intl-tw color-red
intl-tw
intl-tw color-red
intl-tw
intl-tw color-red
intl-tw
intl-tw color-red
intl-tw
intl-tw color-red
intl-tw
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink
intl-tw size-m
intl-tw color-pink

- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-5', 'zh_CN', '[zh_CN] womens-shoes-size-us-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-5', 'zh_CN', '[zh_CN] womens-shoes-size-us-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-5', 'ja', '[ja] womens-shoes-size-us-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-5', 'ja', '[ja] womens-shoes-size-us-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-5', 'th', '[th] womens-shoes-size-us-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-5', 'th', '[th] womens-shoes-size-us-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'womens-shoes-size-us-5', 'en', '[en] womens-shoes-size-us-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'womens-shoes-size-us-5', 'en', '[en] womens-shoes-size-us-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'en', '[en] size-m', NOW())"}

intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-m
intl-tw color-red
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-pink
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-s
intl-tw color-red
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-pink
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-xl
intl-tw color-red
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw

 {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"

intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-l
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-m
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-s
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw size-xs
intl-tw
intl-tw mens-shoes-size-jp-29
intl-tw
intl-tw mens-shoes-size-jp-29
intl-tw
intl-tw mens-shoes-size-jp-29
intl-tw
intl-tw mens-shoes-size-jp-29
intl-tw
intl-tw mens-shoes-size-jp-29
intl-tw
intl-tw mens-shoes-size-jp-29-5
intl-tw
intl-tw mens-shoes-size-jp-29-5
intl-tw
intl-tw mens-shoes-size-jp-29-5
intl-tw
intl-tw mens-shoes-size-jp-29-5
intl-tw
intl-tw mens-shoes-size-jp-29-5
intl-tw

[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 8, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.008s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29', 'zh_TW', '[zh_TW] mens-shoes-size-jp-29', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29', 'zh_TW', '[zh_TW] mens-shoes-size-jp-29', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29', 'zh_CN', '[zh_CN] mens-shoes-size-jp-29', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29', 'zh_CN', '[zh_CN] mens-shoes-size-jp-29', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29', 'ja', '[ja] mens-shoes-size-jp-29', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29', 'ja', '[ja] mens-shoes-size-jp-29', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29', 'th', '[th] mens-shoes-size-jp-29', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29', 'th', '[th] mens-shoes-size-jp-29', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29', 'en', '[en] mens-shoes-size-jp-29', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29', 'en', '[en] mens-shoes-size-jp-29', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'zh_TW', '[zh_TW] mens-shoes-size-jp-29-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'zh_TW', '[zh_TW] mens-shoes-size-jp-29-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'zh_CN', '[zh_CN] mens-shoes-size-jp-29-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'zh_CN', '[zh_CN] mens-shoes-size-jp-29-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'ja', '[ja] mens-shoes-size-jp-29-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'ja', '[ja] mens-shoes-size-jp-29-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'th', '[th] mens-shoes-size-jp-29-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'th', '[th] mens-shoes-size-jp-29-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'en', '[en] mens-shoes-size-jp-29-5', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-29-5', 'en', '[en] mens-shoes-size-jp-29-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-30', 'zh_TW', '[zh_TW] mens-shoes-size-jp-30', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-30', 'zh_TW', '[zh_TW] mens-shoes-size-jp-30', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-30', 'zh_CN', '[zh_CN] mens-shoes-size-jp-30', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-30', 'zh_CN', '[zh_CN] mens-shoes-size-jp-30', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-30', 'ja', '[ja] mens-shoes-size-jp-30', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-30', 'ja', '[ja] mens-shoes-size-jp-30', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', 'mens-shoes-size-jp-30', 'th', '[th] mens-shoes-size-jp-30', NOW())"}
- - - [22/Mar/2018:18:24:50 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('intl-tw', 'mens-shoes-size-jp-30', 'th', '[th] mens-shoes-size-jp-30', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('intl-tw', '', 'th', '', NOW())"}

intl-tw mens-shoes-size-jp-30
intl-tw
intl-tw mens-shoes-size-jp-30
intl-tw
intl-tw mens-shoes-size-jp-30
intl-tw
intl-tw mens-shoes-size-jp-30
intl-tw
intl-tw mens-shoes-size-jp-30
intl-tw
jp-dr size-xs
jp-dr
jp-dr size-xs
jp-dr
jp-dr size-xs
jp-dr
jp-dr size-xs
jp-dr
jp-dr size-xs
jp-dr
jp-dr size-xxs
jp-dr
jp-dr size-xxs
jp-dr
jp-dr size-xxs
jp-dr
jp-dr size-xxs
jp-dr
jp-dr size-xxs
jp-dr
jp-dr womens-shoes-size-us-5
jp-dr
jp-dr womens-shoes-size-us-5
jp-dr
jp-dr womens-shoes-size-us-5
jp-dr
jp-dr womens-shoes-size-us-5
jp-dr
jp-dr womens-shoes-size-us-5
jp-dr
minty-shop color-red
minty-shop
minty-shop color-red
minty-shop
minty-shop color-red
minty-shop
minty-shop color-red
minty-shop
minty-shop color-red
minty-shop
minty-shop color-gray
minty-shop
minty-shop color-gray
minty-shop
minty-shop color-gray
minty-shop
minty-shop color-gray
minty-shop
minty-shop color-gray
minty-shop
pinkoi size-m
pinkoi color-black
pinkoi size-m
pinkoi color-black
pinkoi size-m
pinkoi color-black
pinkoi size-m
pinkoi color-black
pinkoi size-m
pinkoi color-black
pinkoi size-m
pinkoi color-pink
pinkoi size-m

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('jp-dr', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('jp-dr', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('minty-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('minty-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 10, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.010s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 3, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.003s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}

pinkoi color-pink
pinkoi size-m
pinkoi color-pink
pinkoi size-m
pinkoi color-pink
pinkoi size-m
pinkoi color-pink
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi color-pink
pinkoi
pinkoi color-pink
pinkoi
pinkoi color-pink
pinkoi
pinkoi color-pink
pinkoi
pinkoi color-pink
pinkoi
pinkoi color-red
pinkoi
pinkoi color-red
pinkoi
pinkoi color-red
pinkoi
pinkoi color-red
pinkoi
pinkoi color-red
pinkoi

{'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 3, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.003s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'zh_TW', '[zh_TW] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'zh_TW', '[zh_TW] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'zh_CN', '[zh_CN] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'zh_CN', '[zh_CN] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'ja', '[ja] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'ja', '[ja] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'th', '[th] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'th', '[th] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'en', '[en] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'en', '[en] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}

pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xxs
pinkoi
pinkoi size-xxs
pinkoi
pinkoi size-xxs
pinkoi
pinkoi size-xxs
pinkoi
pinkoi size-xxs
pinkoi
pinkoi size-l
pinkoi
pinkoi size-l
pinkoi
pinkoi size-l
pinkoi
pinkoi size-l
pinkoi
pinkoi size-l
pinkoi

sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}

pinkoi size-m
pinkoi
pinkoi size-m
pinkoi
pinkoi size-m
pinkoi
pinkoi size-m
pinkoi
pinkoi size-m
pinkoi
pinkoi size-s
pinkoi
pinkoi size-s
pinkoi
pinkoi size-s
pinkoi
pinkoi size-s
pinkoi
pinkoi size-s
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi size-custom-size
pinkoi color-black
pinkoi size-custom-size
pinkoi color-black
pinkoi size-custom-size
pinkoi color-black
pinkoi size-custom-size
pinkoi color-black
pinkoi size-custom-size
pinkoi color-black

[mine] sql sql {'request_time_ms': 5, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'zh_TW', '[zh_TW] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.005s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'zh_TW', '[zh_TW] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'zh_CN', '[zh_CN] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'zh_CN', '[zh_CN] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'ja', '[ja] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'ja', '[ja] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'th', '[th] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'th', '[th] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'en', '[en] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'en', '[en] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'zh_TW', '[zh_TW] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'zh_TW', '[zh_TW] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'zh_CN', '[zh_CN] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'zh_CN', '[zh_CN] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'ja', '[ja] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'ja', '[ja] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'th', '[th] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'th', '[th] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'th', '[th] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'th', '[th] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'en', '[en] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'en', '[en] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'zh_TW', '[zh_TW] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'zh_TW', '[zh_TW] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 3, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'zh_CN', '[zh_CN] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.003s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'zh_CN', '[zh_CN] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'ja', '[ja] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'ja', '[ja] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'th', '[th] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'th', '[th] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'th', '[th] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'th', '[th] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'en', '[en] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'en', '[en] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'en', '[en] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'en', '[en] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'ja', '[ja] color-peach', NOW())"}

pinkoi size-custom-size
pinkoi color-brown
pinkoi size-custom-size
pinkoi color-brown
pinkoi size-custom-size
pinkoi color-brown
pinkoi size-custom-size
pinkoi color-brown
pinkoi size-custom-size
pinkoi color-brown
pinkoi size-custom-size
pinkoi color-peach
pinkoi size-custom-size
pinkoi color-peach
pinkoi size-custom-size
pinkoi color-peach
pinkoi size-custom-size
pinkoi color-peach
pinkoi size-custom-size
pinkoi color-peach
pinkoi size-custom-size
pinkoi color-pink
pinkoi size-custom-size
pinkoi color-pink
pinkoi size-custom-size
pinkoi color-pink
pinkoi size-custom-size
pinkoi color-pink
pinkoi size-custom-size
pinkoi color-pink
pinkoi size-custom-size
pinkoi color-white
pinkoi size-custom-size
pinkoi color-white
pinkoi size-custom-size
pinkoi color-white
pinkoi size-custom-size
pinkoi color-white
pinkoi size-custom-size
pinkoi color-white
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-black
pinkoi size-s
pinkoi color-brown
pinkoi size-s
pinkoi color-brown
pinkoi size-s
pinkoi color-brown
pinkoi size-s
pinkoi color-brown
pinkoi size-s
pinkoi color-brown
pinkoi size-s
pinkoi color-peach
pinkoi size-s
pinkoi color-peach
pinkoi size-s
pinkoi color-peach
pinkoi size-s
pinkoi color-peach
pinkoi size-s
pinkoi color-peach
pinkoi size-s
pinkoi color-pink

[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'zh_TW', '[zh_TW] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'zh_TW', '[zh_TW] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'zh_CN', '[zh_CN] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'zh_CN', '[zh_CN] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'ja', '[ja] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'ja', '[ja] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'th', '[th] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'th', '[th] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'en', '[en] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'en', '[en] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'ja', '[ja] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'ja', '[ja] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'th', '[th] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'th', '[th] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'en', '[en] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:51 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'en', '[en] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 3, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.003s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'en', '[en] color-white', NOW())"}

pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-pink
pinkoi size-s
pinkoi color-white
pinkoi size-s
pinkoi color-white
pinkoi size-s
pinkoi color-white
pinkoi size-s
pinkoi color-white
pinkoi size-s
pinkoi color-white
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-black
pinkoi size-xs
pinkoi color-brown
pinkoi size-xs
pinkoi color-brown
pinkoi size-xs
pinkoi color-brown
pinkoi size-xs
pinkoi color-brown
pinkoi size-xs
pinkoi color-brown
pinkoi size-xs
pinkoi color-peach
pinkoi size-xs
pinkoi color-peach
pinkoi size-xs
pinkoi color-peach
pinkoi size-xs
pinkoi color-peach
pinkoi size-xs
pinkoi color-peach
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-pink
pinkoi size-xs
pinkoi color-white
pinkoi size-xs
pinkoi color-white
pinkoi size-xs
pinkoi color-white
pinkoi size-xs
pinkoi color-white
pinkoi size-xs
pinkoi color-white

sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'ja', '[ja] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'ja', '[ja] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'th', '[th] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'th', '[th] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-peach', 'en', '[en] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-peach', 'en', '[en] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'zh_TW', '[zh_TW] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'zh_TW', '[zh_TW] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'zh_CN', '[zh_CN] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'zh_CN', '[zh_CN] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'ja', '[ja] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'ja', '[ja] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'th', '[th] color-brown', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-brown', 'th', '[th] color-brown', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-brown', 'en', '[en] color-brown', NOW())"}

pinkoi size-xxs
pinkoi color-black
pinkoi size-xxs
pinkoi color-black
pinkoi size-xxs
pinkoi color-black
pinkoi size-xxs
pinkoi color-black
pinkoi size-xxs
pinkoi color-black
pinkoi size-xxs
pinkoi color-brown
pinkoi size-xxs
pinkoi color-brown
pinkoi size-xxs
pinkoi color-brown
pinkoi size-xxs
pinkoi color-brown
pinkoi size-xxs
pinkoi color-brown
pinkoi size-xxs
pinkoi color-peach
pinkoi size-xxs
pinkoi color-peach
pinkoi size-xxs
pinkoi color-peach
pinkoi size-xxs
pinkoi color-peach
pinkoi size-xxs
pinkoi color-peach
pinkoi size-xxs
pinkoi color-pink
pinkoi size-xxs
pinkoi color-pink
pinkoi size-xxs
pinkoi color-pink
pinkoi size-xxs
pinkoi color-pink
pinkoi size-xxs
pinkoi color-pink
pinkoi size-xxs
pinkoi color-white
pinkoi size-xxs
pinkoi color-white
pinkoi size-xxs
pinkoi color-white
pinkoi size-xxs
pinkoi color-white
pinkoi size-xxs
pinkoi color-white
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-3-5
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi

- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'zh_TW', '[zh_TW] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'zh_TW', '[zh_TW] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'zh_CN', '[zh_CN] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'zh_CN', '[zh_CN] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'ja', '[ja] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'ja', '[ja] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'th', '[th] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'th', '[th] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3', 'en', '[en] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3', 'en', '[en] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3-5', 'zh_TW', '[zh_TW] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3-5', 'zh_TW', '[zh_TW] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3-5', 'zh_CN', '[zh_CN] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3-5', 'zh_CN', '[zh_CN] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3-5', 'ja', '[ja] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3-5', 'ja', '[ja] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3-5', 'th', '[th] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3-5', 'th', '[th] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-3-5', 'en', '[en] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-3-5', 'en', '[en] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'zh_TW', '[zh_TW] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'zh_TW', '[zh_TW] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'zh_CN', '[zh_CN] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'zh_CN', '[zh_CN] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'ja', '[ja] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'ja', '[ja] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'th', '[th] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'th', '[th] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-4', 'en', '[en] ring-size-us-no-4', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-4', 'en', '[en] ring-size-us-no-4', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'zh_TW', '[zh_TW] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'zh_TW', '[zh_TW] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'zh_CN', '[zh_CN] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'zh_CN', '[zh_CN] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'ja', '[ja] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'ja', '[ja] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'th', '[th] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'th', '[th] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'zh_TW', '[zh_TW] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'zh_TW', '[zh_TW] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5', NOW())"

 ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-4
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi ring-size-us-no-5
pinkoi
pinkoi mens-shoes-size-uk-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-6
pinkoi color-indigo
pinkoi mens-shoes-size-uk-6
pinkoi color-indigo
pinkoi mens-shoes-size-uk-6
pinkoi color-indigo
pinkoi mens-shoes-size-uk-6
pinkoi color-indigo
pinkoi mens-shoes-size-uk-6
pinkoi color-indigo
pinkoi mens-shoes-size-uk-7-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-7-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-7-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-7-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-7-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-8-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-8-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-8-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-8-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-8-5
pinkoi color-indigo
pinkoi mens-shoes-size-uk-9
pinkoi color-indigo
pinkoi mens-shoes-size-uk-9
pinkoi color-indigo
pinkoi mens-shoes-size-uk-9
pinkoi color-indigo
pinkoi mens-shoes-size-uk-9
pinkoi color-indigo
pinkoi mens-shoes-size-uk-9
pinkoi color-indigo
pinkoi size-custom-size
pinkoi
pinkoi size-custom-size
pinkoi
pinkoi

{'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'en', '[en] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'en', '[en] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-8-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-8-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'zh_TW', '[zh_TW] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'zh_TW', '[zh_TW] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-8-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-8-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'zh_CN', '[zh_CN] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'zh_CN', '[zh_CN] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'ja', '[ja] mens-shoes-size-uk-8-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'ja', '[ja] mens-shoes-size-uk-8-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'ja', '[ja] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'ja', '[ja] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'th', '[th] mens-shoes-size-uk-8-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'th', '[th] mens-shoes-size-uk-8-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'th', '[th] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'th', '[th] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'en', '[en] mens-shoes-size-uk-8-5', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-8-5', 'en', '[en] mens-shoes-size-uk-8-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'en', '[en] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'en', '[en] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-9', 'zh_TW', '[zh_TW] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-9', 'zh_TW', '[zh_TW] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'zh_TW', '[zh_TW] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'zh_TW', '[zh_TW] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-9', 'zh_CN', '[zh_CN] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-9', 'zh_CN', '[zh_CN] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'zh_CN', '[zh_CN] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'zh_CN', '[zh_CN] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-9', 'ja', '[ja] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-9', 'ja', '[ja] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'ja', '[ja] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'ja', '[ja] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-9', 'th', '[th] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-9', 'th', '[th] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'th', '[th] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'th', '[th] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'mens-shoes-size-uk-9', 'en', '[en] mens-shoes-size-uk-9', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'mens-shoes-size-uk-9', 'en', '[en] mens-shoes-size-uk-9', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'color-indigo', 'en', '[en] color-indigo', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'color-indigo', 'en', '[en] color-indigo', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_TW', '[zh_TW] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'zh_CN', '[zh_CN] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'ja', '[ja] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'th', '[th] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'th', '[th] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-custom-size', 'en', '[en] size-custom-size', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-custom-size', 'en', '[en] size-custom-size', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('pinkoi', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('pinkoi', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'ja', '[ja] size-l', NOW())"}

size-custom-size
pinkoi
pinkoi size-custom-size
pinkoi
pinkoi size-custom-size
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
pinkoi size-xs
pinkoi
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1

sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 7, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.007s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'ja', '[ja] size-m', NOW())"}

remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-l
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-m
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
remi-chu-migration-test-1 size-s
remi-chu-migration-test-1
testowner size-xs

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:52 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('remi-chu-migration-test-1', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"

testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner

sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 5, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.005s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"

testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner

sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}

testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner

{'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"

testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner

[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 7, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.007s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 5, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.005s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 3, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.003s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:53 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}

testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}

testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}

testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner
testowner size-xxs
testowner

 sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_TW', '[zh_TW] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'zh_CN', '[zh_CN] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'ja', '[ja] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'th', '[th] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', 'size-xxs', 'en', '[en] size-xxs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('testowner', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('testowner', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('th-dr', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('th-dr', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"

testowner size-xxs
testowner
testowner size-xxs
testowner
th-dr color-black
th-dr
th-dr color-black
th-dr
th-dr color-black
th-dr
th-dr color-black
th-dr
th-dr color-black
th-dr
th-dr color-gray
th-dr
th-dr color-gray
th-dr
th-dr color-gray
th-dr
th-dr color-gray
th-dr
th-dr color-gray
th-dr
th-dr color-red
th-dr
th-dr color-red
th-dr
th-dr color-red
th-dr
th-dr color-red
th-dr
th-dr color-red
th-dr
th-dr color-white
th-dr
th-dr color-white
th-dr
th-dr color-white
th-dr
th-dr color-white
th-dr
th-dr color-white
th-dr
thierry-shop color-neon-yellow
thierry-shop
thierry-shop color-neon-yellow
thierry-shop
thierry-shop color-neon-yellow
thierry-shop
thierry-shop color-neon-yellow
thierry-shop
thierry-shop color-neon-yellow
thierry-shop
thierry-shop size-l
thierry-shop color-black
thierry-shop size-l
thierry-shop color-black
thierry-shop size-l
thierry-shop color-black
thierry-shop size-l
thierry-shop color-black
thierry-shop size-l
thierry-shop color-black
thierry-shop size-l
thierry-shop color-white
thierry-shop size-l

 {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-neon-yellow', 'th', '[th] color-neon-yellow', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-neon-yellow', 'th', '[th] color-neon-yellow', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-neon-yellow', 'en', '[en] color-neon-yellow', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-neon-yellow', 'en', '[en] color-neon-yellow', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}

thierry-shop color-white
thierry-shop size-l
thierry-shop color-white
thierry-shop size-l
thierry-shop color-white
thierry-shop size-l
thierry-shop color-white
thierry-shop size-m
thierry-shop color-black
thierry-shop size-m
thierry-shop color-black
thierry-shop size-m
thierry-shop color-black
thierry-shop size-m
thierry-shop color-black
thierry-shop size-m
thierry-shop color-black
thierry-shop size-m
thierry-shop color-white
thierry-shop size-m
thierry-shop color-white
thierry-shop size-m
thierry-shop color-white
thierry-shop size-m
thierry-shop color-white
thierry-shop size-m
thierry-shop color-white
thierry-shop size-s
thierry-shop color-black
thierry-shop size-s
thierry-shop color-black
thierry-shop size-s
thierry-shop color-black
thierry-shop size-s
thierry-shop color-black
thierry-shop size-s
thierry-shop color-black
thierry-shop size-s
thierry-shop color-white
thierry-shop size-s
thierry-shop color-white
thierry-shop size-s
thierry-shop color-white
thierry-shop size-s
thierry-shop color-white
thierry-shop size-s
thierry-shop color-white
thierry-shop mens-shoes-size-jp-22
thierry-shop
thierry-shop mens-shoes-size-jp-22
thierry-shop
thierry-shop mens-shoes-size-jp-22
thierry-shop
thierry-shop mens-shoes-size-jp-22
thierry-shop
thierry-shop mens-shoes-size-jp-22
thierry-shop
thierry-shop mens-shoes-size-jp-23
thierry-shop
thierry-shop mens-shoes-size-jp-23
thierry-shop
thierry-shop mens-shoes-size-jp-23
thierry-shop
thierry-shop mens-shoes-size-jp-23
thierry-shop
thierry-shop mens-shoes-size-jp-23
thierry-shop

 sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-22', 'ja', '[ja] mens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-22', 'ja', '[ja] mens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-22', 'th', '[th] mens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-22', 'th', '[th] mens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-22', 'en', '[en] mens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-22', 'en', '[en] mens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'zh_TW', '[zh_TW] mens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'zh_TW', '[zh_TW] mens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'zh_CN', '[zh_CN] mens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'zh_CN', '[zh_CN] mens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'ja', '[ja] mens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'ja', '[ja] mens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'th', '[th] mens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'th', '[th] mens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'en', '[en] mens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-23', 'en', '[en] mens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'zh_TW', '[zh_TW] mens-shoes-size-jp-24', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'zh_TW', '[zh_TW] mens-shoes-size-jp-24', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'zh_CN', '[zh_CN] mens-shoes-size-jp-24', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'zh_CN', '[zh_CN] mens-shoes-size-jp-24', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'ja', '[ja] mens-shoes-size-jp-24', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'ja', '[ja] mens-shoes-size-jp-24', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'th', '[th] mens-shoes-size-jp-24', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'th', '[th] mens-shoes-size-jp-24', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'en', '[en] mens-shoes-size-jp-24', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-jp-24', 'en', '[en] mens-shoes-size-jp-24', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3', 'zh_TW', '[zh_TW] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3', 'zh_TW', '[zh_TW] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3', 'zh_CN', '[zh_CN] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3', 'zh_CN', '[zh_CN] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3', 'ja', '[ja] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3', 'ja', '[ja] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3', 'th', '[th] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3', 'th', '[th] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3', 'en', '[en] ring-size-us-no-3', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3', 'en', '[en] ring-size-us-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3-5', 'zh_TW', '[zh_TW] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3-5', 'zh_TW', '[zh_TW] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3-5', 'zh_CN', '[zh_CN] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3-5', 'zh_CN', '[zh_CN] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3-5', 'ja', '[ja] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3-5', 'ja', '[ja] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3-5', 'th', '[th] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3-5', 'th', '[th] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-3-5', 'en', '[en] ring-size-us-no-3-5', NOW())"}
- - - [22/Mar/2018:18:24:54 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-3-5', 'en', '[en] ring-size-us-no-3-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}

thierry-shop mens-shoes-size-jp-24
thierry-shop
thierry-shop mens-shoes-size-jp-24
thierry-shop
thierry-shop mens-shoes-size-jp-24
thierry-shop
thierry-shop mens-shoes-size-jp-24
thierry-shop
thierry-shop mens-shoes-size-jp-24
thierry-shop
thierry-shop ring-size-us-no-3
thierry-shop
thierry-shop ring-size-us-no-3
thierry-shop
thierry-shop ring-size-us-no-3
thierry-shop
thierry-shop ring-size-us-no-3
thierry-shop
thierry-shop ring-size-us-no-3
thierry-shop
thierry-shop ring-size-us-no-3-5
thierry-shop
thierry-shop ring-size-us-no-3-5
thierry-shop
thierry-shop ring-size-us-no-3-5
thierry-shop
thierry-shop ring-size-us-no-3-5
thierry-shop
thierry-shop ring-size-us-no-3-5
thierry-shop
thierry-shop ring-size-us-no-4
thierry-shop
thierry-shop ring-size-us-no-4
thierry-shop
thierry-shop ring-size-us-no-4
thierry-shop
thierry-shop ring-size-us-no-4
thierry-shop
thierry-shop ring-size-us-no-4
thierry-shop
thierry-shop ring-size-us-no-4-5
thierry-shop
thierry-shop ring-size-us-no-4-5
thierry-shop
thierry-shop ring-size-us-no-4-5
thierry-shop
thierry-shop ring-size-us-no-4-5
thierry-shop
thierry-shop ring-size-us-no-4-5
thierry-shop
thierry-shop ring-size-us-no-5
thierry-shop
thierry-shop ring-size-us-no-5
thierry-shop
thierry-shop ring-size-us-no-5
thierry-shop
thierry-shop ring-size-us-no-5
thierry-shop
thierry-shop ring-size-us-no-5
thierry-shop
thierry-shop ring-size-us-no-5-5
thierry-shop
thierry-shop ring-size-us-no-5-5
thierry-shop
thierry-shop ring-size-us-no-5-5
thierry-shop
thierry-shop ring-size-us-no-5-5
thierry-shop
thierry-shop ring-size-us-no-5-5
thierry-shop
thierry-shop ring-size-us-no-6
thierry-shop

- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5', 'th', '[th] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5', 'th', '[th] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5', 'en', '[en] ring-size-us-no-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5-5', 'zh_TW', '[zh_TW] ring-size-us-no-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5-5', 'zh_TW', '[zh_TW] ring-size-us-no-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5-5', 'zh_CN', '[zh_CN] ring-size-us-no-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5-5', 'zh_CN', '[zh_CN] ring-size-us-no-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5-5', 'ja', '[ja] ring-size-us-no-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5-5', 'ja', '[ja] ring-size-us-no-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5-5', 'th', '[th] ring-size-us-no-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5-5', 'th', '[th] ring-size-us-no-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-5-5', 'en', '[en] ring-size-us-no-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-5-5', 'en', '[en] ring-size-us-no-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6', 'zh_TW', '[zh_TW] ring-size-us-no-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6', 'zh_TW', '[zh_TW] ring-size-us-no-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6', 'zh_CN', '[zh_CN] ring-size-us-no-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6', 'zh_CN', '[zh_CN] ring-size-us-no-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6', 'ja', '[ja] ring-size-us-no-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6', 'ja', '[ja] ring-size-us-no-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6', 'th', '[th] ring-size-us-no-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6', 'th', '[th] ring-size-us-no-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6', 'en', '[en] ring-size-us-no-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6', 'en', '[en] ring-size-us-no-6', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6-5', 'zh_TW', '[zh_TW] ring-size-us-no-6-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6-5', 'zh_TW', '[zh_TW] ring-size-us-no-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6-5', 'zh_CN', '[zh_CN] ring-size-us-no-6-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6-5', 'zh_CN', '[zh_CN] ring-size-us-no-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6-5', 'ja', '[ja] ring-size-us-no-6-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6-5', 'ja', '[ja] ring-size-us-no-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6-5', 'th', '[th] ring-size-us-no-6-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6-5', 'th', '[th] ring-size-us-no-6-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-6-5', 'en', '[en] ring-size-us-no-6-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-6-5', 'en', '[en] ring-size-us-no-6-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-7', 'zh_TW', '[zh_TW] ring-size-us-no-7', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-7', 'zh_TW', '[zh_TW] ring-size-us-no-7', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-7', 'zh_CN', '[zh_CN] ring-size-us-no-7', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-7', 'zh_CN', '[zh_CN] ring-size-us-no-7', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-7', 'ja', '[ja] ring-size-us-no-7', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-7', 'ja', '[ja] ring-size-us-no-7', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-7', 'th', '[th] ring-size-us-no-7', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-7', 'th', '[th] ring-size-us-no-7', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-7', 'en', '[en] ring-size-us-no-7', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-7', 'en', '[en] ring-size-us-no-7', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-us-no-7-5', 'zh_TW', '[zh_TW] ring-size-us-no-7-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-us-no-7-5', 'zh_TW', '[zh_TW] ring-size-us-no-7-5', NOW())"

thierry-shop ring-size-us-no-6
thierry-shop
thierry-shop ring-size-us-no-6
thierry-shop
thierry-shop ring-size-us-no-6
thierry-shop
thierry-shop ring-size-us-no-6
thierry-shop
thierry-shop ring-size-us-no-6-5
thierry-shop
thierry-shop ring-size-us-no-6-5
thierry-shop
thierry-shop ring-size-us-no-6-5
thierry-shop
thierry-shop ring-size-us-no-6-5
thierry-shop
thierry-shop ring-size-us-no-6-5
thierry-shop
thierry-shop ring-size-us-no-7
thierry-shop
thierry-shop ring-size-us-no-7
thierry-shop
thierry-shop ring-size-us-no-7
thierry-shop
thierry-shop ring-size-us-no-7
thierry-shop
thierry-shop ring-size-us-no-7
thierry-shop
thierry-shop ring-size-us-no-7-5
thierry-shop
thierry-shop ring-size-us-no-7-5
thierry-shop
thierry-shop ring-size-us-no-7-5
thierry-shop
thierry-shop ring-size-us-no-7-5
thierry-shop
thierry-shop ring-size-us-no-7-5
thierry-shop
thierry-shop ring-size-us-no-8
thierry-shop
thierry-shop ring-size-us-no-8
thierry-shop
thierry-shop ring-size-us-no-8
thierry-shop
thierry-shop ring-size-us-no-8
thierry-shop
thierry-shop ring-size-us-no-8
thierry-shop
thierry-shop ring-size-us-no-8-5
thierry-shop
thierry-shop ring-size-us-no-8-5
thierry-shop
thierry-shop ring-size-us-no-8-5
thierry-shop
thierry-shop ring-size-us-no-8-5
thierry-shop
thierry-shop ring-size-us-no-8-5
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop

sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 3, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.003s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'zh_TW', '[zh_TW] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'zh_CN', '[zh_CN] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'ja', '[ja] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'ja', '[ja] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'th', '[th] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'th', '[th] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'en', '[en] mens-shoes-size-uk-5-5', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-5-5', 'en', '[en] mens-shoes-size-uk-5-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-6', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-6', 'zh_TW', '[zh_TW] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-6', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-6', 'zh_CN', '[zh_CN] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'mens-shoes-size-uk-6', 'ja', '[ja] mens-shoes-size-uk-6', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'mens-shoes-size-uk-6', 'ja', '[ja] mens-shoes-size-uk-6', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"

thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop mens-shoes-size-uk-5-5
thierry-shop
thierry-shop mens-shoes-size-uk-5-5
thierry-shop
thierry-shop mens-shoes-size-uk-5-5
thierry-shop
thierry-shop mens-shoes-size-uk-5-5
thierry-shop
thierry-shop mens-shoes-size-uk-5-5
thierry-shop
thierry-shop mens-shoes-size-uk-6
thierry-shop
thierry-shop mens-shoes-size-uk-6
thierry-shop
thierry-shop mens-shoes-size-uk-6
thierry-shop
thierry-shop mens-shoes-size-uk-6
thierry-shop
thierry-shop mens-shoes-size-uk-6
thierry-shop
thierry-shop mens-shoes-size-uk-6-5
thierry-shop
thierry-shop mens-shoes-size-uk-6-5
thierry-shop
thierry-shop mens-shoes-size-uk-6-5
thierry-shop
thierry-shop mens-shoes-size-uk-6-5
thierry-shop
thierry-shop mens-shoes-size-uk-6-5
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-s

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-1', 'zh_TW', '[zh_TW] ring-size-jp-no-1', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-1', 'zh_TW', '[zh_TW] ring-size-jp-no-1', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-1', 'zh_CN', '[zh_CN] ring-size-jp-no-1', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-1', 'zh_CN', '[zh_CN] ring-size-jp-no-1', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-1', 'ja', '[ja] ring-size-jp-no-1', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-1', 'ja', '[ja] ring-size-jp-no-1', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-1', 'th', '[th] ring-size-jp-no-1', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-1', 'th', '[th] ring-size-jp-no-1', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-1', 'en', '[en] ring-size-jp-no-1', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-1', 'en', '[en] ring-size-jp-no-1', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-2', 'zh_TW', '[zh_TW] ring-size-jp-no-2', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-2', 'zh_TW', '[zh_TW] ring-size-jp-no-2', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-2', 'zh_CN', '[zh_CN] ring-size-jp-no-2', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-2', 'zh_CN', '[zh_CN] ring-size-jp-no-2', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-2', 'ja', '[ja] ring-size-jp-no-2', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-2', 'ja', '[ja] ring-size-jp-no-2', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-2', 'th', '[th] ring-size-jp-no-2', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-2', 'th', '[th] ring-size-jp-no-2', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-2', 'en', '[en] ring-size-jp-no-2', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-2', 'en', '[en] ring-size-jp-no-2', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-3', 'zh_TW', '[zh_TW] ring-size-jp-no-3', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-3', 'zh_TW', '[zh_TW] ring-size-jp-no-3', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-3', 'zh_CN', '[zh_CN] ring-size-jp-no-3', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-3', 'zh_CN', '[zh_CN] ring-size-jp-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-3', 'ja', '[ja] ring-size-jp-no-3', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-3', 'ja', '[ja] ring-size-jp-no-3', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'ring-size-jp-no-3', 'th', '[th] ring-size-jp-no-3', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'ring-size-jp-no-3', 'th', '[th] ring-size-jp-no-3', NOW())"

thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop ring-size-jp-no-1
thierry-shop
thierry-shop ring-size-jp-no-1
thierry-shop
thierry-shop ring-size-jp-no-1
thierry-shop
thierry-shop ring-size-jp-no-1
thierry-shop
thierry-shop ring-size-jp-no-1
thierry-shop
thierry-shop ring-size-jp-no-2
thierry-shop
thierry-shop ring-size-jp-no-2
thierry-shop
thierry-shop ring-size-jp-no-2
thierry-shop
thierry-shop ring-size-jp-no-2
thierry-shop
thierry-shop ring-size-jp-no-2
thierry-shop
thierry-shop ring-size-jp-no-3
thierry-shop
thierry-shop ring-size-jp-no-3
thierry-shop
thierry-shop ring-size-jp-no-3
thierry-shop
thierry-shop ring-size-jp-no-3
thierry-shop
thierry-shop ring-size-jp-no-3
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-clip-on', 'zh_TW', '[zh_TW] closure-clip-on', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-clip-on', 'zh_TW', '[zh_TW] closure-clip-on', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-clip-on', 'zh_CN', '[zh_CN] closure-clip-on', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-clip-on', 'zh_CN', '[zh_CN] closure-clip-on', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-clip-on', 'ja', '[ja] closure-clip-on', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-clip-on', 'ja', '[ja] closure-clip-on', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-clip-on', 'th', '[th] closure-clip-on', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-clip-on', 'th', '[th] closure-clip-on', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"}

thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop size-s
thierry-shop
thierry-shop closure-clip-on
thierry-shop color-black
thierry-shop closure-clip-on
thierry-shop color-black
thierry-shop closure-clip-on
thierry-shop color-black
thierry-shop closure-clip-on
thierry-shop color-black
thierry-shop closure-clip-on
thierry-shop color-black
thierry-shop closure-clip-on
thierry-shop color-gray
thierry-shop closure-clip-on
thierry-shop color-gray
thierry-shop closure-clip-on
thierry-shop color-gray
thierry-shop closure-clip-on
thierry-shop color-gray
thierry-shop closure-clip-on
thierry-shop color-gray
thierry-shop closure-clip-on
thierry-shop color-white
thierry-shop closure-clip-on
thierry-shop color-white
thierry-shop closure-clip-on
thierry-shop color-white
thierry-shop closure-clip-on
thierry-shop color-white
thierry-shop closure-clip-on
thierry-shop color-white
thierry-shop closure-hook
thierry-shop color-black
thierry-shop closure-hook
thierry-shop color-black
thierry-shop closure-hook
thierry-shop color-black
thierry-shop closure-hook
thierry-shop color-black
thierry-shop closure-hook
thierry-shop color-black

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'zh_TW', '[zh_TW] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'zh_TW', '[zh_TW] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'zh_CN', '[zh_CN] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'zh_CN', '[zh_CN] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'ja', '[ja] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'ja', '[ja] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'th', '[th] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'th', '[th] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'en', '[en] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'en', '[en] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'zh_TW', '[zh_TW] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'zh_TW', '[zh_TW] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'zh_CN', '[zh_CN] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'zh_CN', '[zh_CN] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'ja', '[ja] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'ja', '[ja] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'th', '[th] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'th', '[th] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'en', '[en] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'en', '[en] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'zh_TW', '[zh_TW] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'zh_TW', '[zh_TW] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'zh_CN', '[zh_CN] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'zh_CN', '[zh_CN] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'ja', '[ja] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'ja', '[ja] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'th', '[th] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'th', '[th] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-hook', 'en', '[en] closure-hook', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-hook', 'en', '[en] closure-hook', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'zh_TW', '[zh_TW] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'zh_TW', '[zh_TW] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'zh_CN', '[zh_CN] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'zh_CN', '[zh_CN] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'ja', '[ja] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'ja', '[ja] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'th', '[th] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'th', '[th] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'en', '[en] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'en', '[en] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'zh_TW', '[zh_TW] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'zh_TW', '[zh_TW] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'closure-post', 'zh_CN', '[zh_CN] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'closure-post', 'zh_CN', '[zh_CN] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:55 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"

thierry-shop closure-hook
thierry-shop color-gray
thierry-shop closure-hook
thierry-shop color-gray
thierry-shop closure-hook
thierry-shop color-gray
thierry-shop closure-hook
thierry-shop color-gray
thierry-shop closure-hook
thierry-shop color-gray
thierry-shop closure-hook
thierry-shop color-white
thierry-shop closure-hook
thierry-shop color-white
thierry-shop closure-hook
thierry-shop color-white
thierry-shop closure-hook
thierry-shop color-white
thierry-shop closure-hook
thierry-shop color-white
thierry-shop closure-post
thierry-shop color-black
thierry-shop closure-post
thierry-shop color-black
thierry-shop closure-post
thierry-shop color-black
thierry-shop closure-post
thierry-shop color-black
thierry-shop closure-post
thierry-shop color-black
thierry-shop closure-post
thierry-shop color-gray
thierry-shop closure-post
thierry-shop color-gray
thierry-shop closure-post
thierry-shop color-gray
thierry-shop closure-post
thierry-shop color-gray
thierry-shop closure-post
thierry-shop color-gray
thierry-shop closure-post
thierry-shop color-white
thierry-shop closure-post
thierry-shop color-white
thierry-shop closure-post
thierry-shop color-white
thierry-shop closure-post
thierry-shop color-white
thierry-shop closure-post
thierry-shop color-white
thierry-shop color-gray
thierry-shop
thierry-shop color-gray
thierry-shop
thierry-shop color-gray
thierry-shop
thierry-shop color-gray
thierry-shop
thierry-shop color-gray
thierry-shop
thierry-shop color-red
thierry-shop
thierry-shop color-red
thierry-shop
thierry-shop color-red
thierry-shop
thierry-shop color-red
thierry-shop
thierry-shop color-red
thierry-shop

 sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-xl', 'zh_TW', '[zh_TW] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-xl', 'zh_CN', '[zh_CN] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-xl', 'ja', '[ja] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-xl', 'ja', '[ja] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-xl', 'th', '[th] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-xl', 'th', '[th] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', 'size-xl', 'en', '[en] size-xl', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', 'size-xl', 'en', '[en] size-xl', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('thierry-shop', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('thierry-shop', '', 'en', '', NOW())"

thierry-shop color-white
thierry-shop
thierry-shop color-white
thierry-shop
thierry-shop color-white
thierry-shop
thierry-shop color-white
thierry-shop
thierry-shop color-white
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-l
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-m
thierry-shop
thierry-shop size-xl
thierry-shop
thierry-shop size-xl
thierry-shop
thierry-shop size-xl
thierry-shop
thierry-shop size-xl
thierry-shop
thierry-shop size-xl
thierry-shop
tw-cs closure-clip-on
tw-cs
tw-cs closure-clip-on
tw-cs
tw-cs closure-clip-on
tw-cs
tw-cs closure-clip-on
tw-cs
tw-cs closure-clip-on
tw-cs
tw-cs closure-hook
tw-cs
tw-cs closure-hook
tw-cs
tw-cs closure-hook
tw-cs
tw-cs closure-hook
tw-cs
tw-cs closure-hook
tw-cs
tw-cs closure-post
tw-cs
tw-cs closure-post
tw-cs
tw-cs closure-post
tw-cs
tw-cs closure-post
tw-cs
tw-cs closure-post
tw-cs

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'closure-post', 'zh_CN', '[zh_CN] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'closure-post', 'zh_CN', '[zh_CN] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'closure-post', 'ja', '[ja] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'closure-post', 'ja', '[ja] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'closure-post', 'th', '[th] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'closure-post', 'th', '[th] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'closure-post', 'en', '[en] closure-post', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'closure-post', 'en', '[en] closure-post', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-22', 'zh_TW', '[zh_TW] womens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-22', 'zh_TW', '[zh_TW] womens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-22', 'zh_CN', '[zh_CN] womens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-22', 'zh_CN', '[zh_CN] womens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 2, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.002s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-22', 'ja', '[ja] womens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-22', 'ja', '[ja] womens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-22', 'th', '[th] womens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-22', 'th', '[th] womens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-22', 'en', '[en] womens-shoes-size-jp-22', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-22', 'en', '[en] womens-shoes-size-jp-22', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23', 'zh_TW', '[zh_TW] womens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23', 'zh_TW', '[zh_TW] womens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23', 'zh_CN', '[zh_CN] womens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23', 'zh_CN', '[zh_CN] womens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23', 'ja', '[ja] womens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23', 'ja', '[ja] womens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23', 'th', '[th] womens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23', 'th', '[th] womens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23', 'en', '[en] womens-shoes-size-jp-23', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23', 'en', '[en] womens-shoes-size-jp-23', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'zh_TW', '[zh_TW] womens-shoes-size-jp-23-5', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'zh_TW', '[zh_TW] womens-shoes-size-jp-23-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'zh_CN', '[zh_CN] womens-shoes-size-jp-23-5', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'zh_CN', '[zh_CN] womens-shoes-size-jp-23-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'ja', '[ja] womens-shoes-size-jp-23-5', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'ja', '[ja] womens-shoes-size-jp-23-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'th', '[th] womens-shoes-size-jp-23-5', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'th', '[th] womens-shoes-size-jp-23-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'en', '[en] womens-shoes-size-jp-23-5', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'womens-shoes-size-jp-23-5', 'en', '[en] womens-shoes-size-jp-23-5', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'ja', '[ja] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'ja', '[ja] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'th', '[th] color-peach', NOW())"}

tw-cs womens-shoes-size-jp-22
tw-cs
tw-cs womens-shoes-size-jp-22
tw-cs
tw-cs womens-shoes-size-jp-22
tw-cs
tw-cs womens-shoes-size-jp-22
tw-cs
tw-cs womens-shoes-size-jp-22
tw-cs
tw-cs womens-shoes-size-jp-23
tw-cs
tw-cs womens-shoes-size-jp-23
tw-cs
tw-cs womens-shoes-size-jp-23
tw-cs
tw-cs womens-shoes-size-jp-23
tw-cs
tw-cs womens-shoes-size-jp-23
tw-cs
tw-cs womens-shoes-size-jp-23-5
tw-cs
tw-cs womens-shoes-size-jp-23-5
tw-cs
tw-cs womens-shoes-size-jp-23-5
tw-cs
tw-cs womens-shoes-size-jp-23-5
tw-cs
tw-cs womens-shoes-size-jp-23-5
tw-cs
tw-cs size-l
tw-cs color-peach
tw-cs size-l
tw-cs color-peach
tw-cs size-l
tw-cs color-peach
tw-cs size-l
tw-cs color-peach
tw-cs size-l
tw-cs color-peach
tw-cs size-l
tw-cs color-pink
tw-cs size-l
tw-cs color-pink
tw-cs size-l
tw-cs color-pink
tw-cs size-l
tw-cs color-pink
tw-cs size-l
tw-cs color-pink
tw-cs size-l
tw-cs color-red
tw-cs size-l
tw-cs color-red
tw-cs size-l
tw-cs color-red
tw-cs size-l
tw-cs color-red
tw-cs size-l
tw-cs color-red
tw-cs size-m
tw-cs color-peach
tw-cs size-m
tw-cs color-peach
tw-cs size-m
tw-cs color-peach
tw-cs size-m
tw-cs color-peach
tw-cs size-m
tw-cs color-peach

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'ja', '[ja] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'ja', '[ja] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'th', '[th] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'th', '[th] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'en', '[en] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'en', '[en] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'th', '[th] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'th', '[th] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'en', '[en] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'en', '[en] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'zh_TW', '[zh_TW] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'zh_CN', '[zh_CN] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'ja', '[ja] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'ja', '[ja] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'th', '[th] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'th', '[th] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-peach', 'en', '[en] color-peach', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-peach', 'en', '[en] color-peach', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'zh_TW', '[zh_TW] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'zh_CN', '[zh_CN] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-pink', 'ja', '[ja] color-pink', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-pink', 'ja', '[ja] color-pink', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"

tw-cs size-m
tw-cs color-pink
tw-cs size-m
tw-cs color-pink
tw-cs size-m
tw-cs color-pink
tw-cs size-m
tw-cs color-pink
tw-cs size-m
tw-cs color-pink
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-s
tw-cs color-peach
tw-cs size-s
tw-cs color-peach
tw-cs size-s
tw-cs color-peach
tw-cs size-s
tw-cs color-peach
tw-cs size-s
tw-cs color-peach
tw-cs size-s
tw-cs color-pink
tw-cs size-s
tw-cs color-pink
tw-cs size-s
tw-cs color-pink
tw-cs size-s
tw-cs color-pink
tw-cs size-s
tw-cs color-pink
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-m
tw-cs color-gray
tw-cs size-m
tw-cs color-gray
tw-cs size-m
tw-cs color-gray
tw-cs size-m
tw-cs color-gray
tw-cs size-m
tw-cs color-gray
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red
tw-cs size-m
tw-cs color-red

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'zh_TW', '[zh_TW] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'zh_CN', '[zh_CN] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'ja', '[ja] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'ja', '[ja] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'th', '[th] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'th', '[th] color-red', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-red', 'en', '[en] color-red', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-red', 'en', '[en] color-red', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-s', 'th', '[th] size-s', NOW())"

tw-cs size-m
tw-cs color-white
tw-cs size-m
tw-cs color-white
tw-cs size-m
tw-cs color-white
tw-cs size-m
tw-cs color-white
tw-cs size-m
tw-cs color-white
tw-cs size-s
tw-cs color-gray
tw-cs size-s
tw-cs color-gray
tw-cs size-s
tw-cs color-gray
tw-cs size-s
tw-cs color-gray
tw-cs size-s
tw-cs color-gray
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-red
tw-cs size-s
tw-cs color-white
tw-cs size-s
tw-cs color-white
tw-cs size-s
tw-cs color-white
tw-cs size-s
tw-cs color-white
tw-cs size-s
tw-cs color-white
tw-cs size-xs
tw-cs color-gray
tw-cs size-xs
tw-cs color-gray
tw-cs size-xs
tw-cs color-gray
tw-cs size-xs
tw-cs color-gray
tw-cs size-xs
tw-cs color-gray
tw-cs size-xs
tw-cs color-red
tw-cs size-xs
tw-cs color-red
tw-cs size-xs
tw-cs color-red
tw-cs size-xs
tw-cs color-red
tw-cs size-xs
tw-cs color-red
tw-cs size-xs
tw-cs color-white
tw-cs size-xs
tw-cs color-white
tw-cs size-xs
tw-cs color-white
tw-cs size-xs
tw-cs color-white
tw-cs size-xs
tw-cs color-white

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-xs', 'zh_TW', '[zh_TW] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-xs', 'zh_CN', '[zh_CN] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-xs', 'ja', '[ja] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-xs', 'ja', '[ja] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-xs', 'th', '[th] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-xs', 'th', '[th] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'size-xs', 'en', '[en] size-xs', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'size-xs', 'en', '[en] size-xs', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-cs', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-cs', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 5, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.005s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 4, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.004s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'th', '[th] color-black', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'th', '[th] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'en', '[en] color-black', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'en', '[en] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:56 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'zh_TW', '[zh_TW] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'zh_CN', '[zh_CN] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-black', 'ja', '[ja] color-black', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-black', 'ja', '[ja] color-black', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'th', '[th] size-m', NOW())"}

tw-dr size-l
tw-dr color-black
tw-dr size-l
tw-dr color-black
tw-dr size-l
tw-dr color-black
tw-dr size-l
tw-dr color-black
tw-dr size-l
tw-dr color-black
tw-dr size-l
tw-dr color-gray
tw-dr size-l
tw-dr color-gray
tw-dr size-l
tw-dr color-gray
tw-dr size-l
tw-dr color-gray
tw-dr size-l
tw-dr color-gray
tw-dr size-l
tw-dr color-white
tw-dr size-l
tw-dr color-white
tw-dr size-l
tw-dr color-white
tw-dr size-l
tw-dr color-white
tw-dr size-l
tw-dr color-white
tw-dr size-m
tw-dr color-black
tw-dr size-m
tw-dr color-black
tw-dr size-m
tw-dr color-black
tw-dr size-m
tw-dr color-black
tw-dr size-m
tw-dr color-black
tw-dr size-m
tw-dr color-gray
tw-dr size-m
tw-dr color-gray
tw-dr size-m
tw-dr color-gray
tw-dr size-m
tw-dr color-gray
tw-dr size-m
tw-dr color-gray
tw-dr size-m
tw-dr color-white
tw-dr size-m
tw-dr color-white
tw-dr size-m
tw-dr color-white
tw-dr size-m
tw-dr color-white
tw-dr size-m
tw-dr color-white
tw-dr size-s
tw-dr color-black
tw-dr size-s
tw-dr color-black
tw-dr size-s
tw-dr color-black
tw-dr size-s
tw-dr color-black
tw-dr size-s
tw-dr color-black
tw-dr size-s
tw-dr color-gray
tw-dr size-s
tw-dr color-gray
tw-dr size-s
tw-dr color-gray
tw-dr size-s
tw-dr color-gray
tw-dr size-s
tw-dr color-gray
tw-dr size-s
tw-dr color-white
tw-dr size-s
tw-dr color-white
tw-dr size-s
tw-dr color-white
tw-dr size-s
tw-dr color-white
tw-dr size-s
tw-dr color-white
tw-dr size-l
tw-dr
tw-dr size-l
tw-dr
tw-dr size-l
tw-dr
tw-dr size-l
tw-dr
tw-dr size-l
tw-dr
tw-dr size-m
tw-dr
tw-dr size-m
tw-dr
tw-dr size-m
tw-dr
tw-dr size-m
tw-dr
tw-dr size-m
tw-dr
tw-dr size-s
tw-dr
tw-dr size-s
tw-dr
tw-dr size-s
tw-dr
tw-dr size-s
tw-dr
tw-dr size-s
tw-dr
tw-dr size-xl
tw-dr
tw-dr size-xl
tw-dr
tw-dr size-xl
tw-dr
tw-dr size-xl
tw-dr
tw-dr size-xl
tw-dr

[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'zh_TW', '[zh_TW] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'zh_CN', '[zh_CN] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'ja', '[ja] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'th', '[th] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'th', '[th] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-gray', 'en', '[en] color-gray', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-gray', 'en', '[en] color-gray', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'zh_TW', '[zh_TW] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'zh_CN', '[zh_CN] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'ja', '[ja] color-white', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'ja', '[ja] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'th', '[th] color-white', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'th', '[th] color-white', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'en', '[en] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'en', '[en] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'color-white', 'en', '[en] color-white', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'color-white', 'en', '[en] color-white', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_TW', '[zh_TW] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'zh_CN', '[zh_CN] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'ja', '[ja] size-l', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'th', '[th] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-l', 'en', '[en] size-l', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'zh_TW', '[zh_TW] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'zh_CN', '[zh_CN] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'ja', '[ja] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'ja', '[ja] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'th', '[th] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'th', '[th] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-m', 'en', '[en] size-m', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-m', 'en', '[en] size-m', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'en', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'en', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'zh_TW', '[zh_TW] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'zh_TW', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'zh_TW', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'zh_CN', '[zh_CN] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'zh_CN', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'zh_CN', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'ja', '[ja] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'ja', '[ja] size-s', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'ja', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.000s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'ja', '', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'th', '[th] size-s', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', 'size-s', 'th', '[th] size-s', NOW())"
[mine] sql sql {'request_time_ms': 1, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', '', 'th', '', NOW())"}
- - - [22/Mar/2018:18:24:57 +0800] - - - - - [SQL] "0.001s" "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)	                    value ('tw-dr', '', 'th', '', NOW())"
[mine] sql sql {'request_time_ms': 0, 'sql': "insert IGNORE into variation_phrases (sid, var_id, locale, phrase, created)\n                    value ('tw-dr', 'size-s', 'en', '[en] size-s', NOW())"}

In [13]:
print rows

[(u'adam', u'ring-size-hk-no-15', u''), (u'adam', u'ring-size-hk-no-20', u''), (u'adam', u'ring-size-jp-no-5', u''), (u'adam', u'size-l', u''), (u'adam', u'size-m', u''), (u'adam', u'size-s', u''), (u'app-team', u'size-m', u'color-gray'), (u'app-team', u'size-m', u'color-red'), (u'app-team', u'size-m', u'color-white'), (u'app-team', u'size-s', u'color-gray'), (u'app-team', u'size-s', u'color-red'), (u'app-team', u'size-s', u'color-white'), (u'app-team', u'size-xs', u'color-gray'), (u'app-team', u'size-xs', u'color-red'), (u'app-team', u'size-xs', u'color-white'), (u'app-team', u'size-m', u''), (u'app-team', u'size-s', u''), (u'app-team', u'size-xs', u''), (u'app-team', u'size-xxs', u''), (u'carol-test', u'size-l', u''), (u'carol-test', u'size-m', u''), (u'carol-test', u'size-s', u''), (u'cn-dr', u'size-m', u'color-black'), (u'cn-dr', u'size-xs', u'color-black'), (u'cn-dr', u'size-m', u'color-black'), (u'cn-dr', u'size-xs', u'color-black'), (u'colorpyen', u'size-l', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'size-xs', u''), (u'colorpyen', u'mens-shoes-size-uk-5', u''), (u'colorpyen', u'mens-shoes-size-uk-5-5', u''), (u'colorpyen', u'mens-shoes-size-uk-6', u''), (u'colorpyen', u'mens-shoes-size-uk-6-5', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'size-xs', u''), (u'colorpyen', u'size-xxs', u''), (u'colorpyen', u'size-l', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-xl', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'size-xs', u''), (u'colorpyen', u'size-xxs', u''), (u'colorpyen', u'size-l', u''), (u'colorpyen', u'size-xl', u''), (u'colorpyen', u'mens-shoes-size-uk-6-5', u''), (u'colorpyen', u'mens-shoes-size-uk-7', u''), (u'colorpyen', u'mens-shoes-size-uk-7-5', u''), (u'colorpyen', u'mens-shoes-size-uk-8', u''), (u'colorpyen', u'size-l', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'womens-shoes-size-us-5-5', u''), (u'colorpyen', u'womens-shoes-size-us-6', u''), (u'colorpyen', u'womens-shoes-size-us-6-5', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'size-xs', u''), (u'colorpyen', u'size-s', u''), (u'colorpyen', u'size-xs', u''), (u'colorpyen', u'size-xxs', u''), (u'colorpyen', u'mens-shoes-size-uk-5-5', u''), (u'colorpyen', u'mens-shoes-size-uk-6', u''), (u'colorpyen', u'mens-shoes-size-uk-6-5', u''), (u'colorpyen', u'size-xl', u''), (u'colorpyen', u'size-xxl', u''), (u'colorpyen', u'size-m', u''), (u'colorpyen', u'size-s', u''), (u'en-dr', u'size-m', u'color-black'), (u'en-dr', u'size-m', u'color-gray'), (u'en-dr', u'size-m', u'color-white'), (u'en-dr', u'size-s', u'color-black'), (u'en-dr', u'size-s', u'color-gray'), (u'en-dr', u'size-s', u'color-white'), (u'en-dr', u'size-xs', u'color-black'), (u'en-dr', u'size-xs', u'color-gray'), (u'en-dr', u'size-xs', u'color-white'), (u'hk-dr', u'color-gray', u''), (u'hk-dr', u'color-white', u''), (u'hk-dr', u'color-gray', u'size-l'), (u'hk-dr', u'color-gray', u'size-m'), (u'hk-dr', u'color-gray', u'size-s'), (u'hk-dr', u'color-white', u'size-l'), (u'hk-dr', u'color-white', u'size-m'), (u'hk-dr', u'color-white', u'size-s'), (u'hk-dr', u'color-gray', u'size-l'), (u'hk-dr', u'color-gray', u'size-m'), (u'hk-dr', u'color-gray', u'size-s'), (u'hk-dr', u'color-white', u'size-l'), (u'hk-dr', u'color-white', u'size-m'), (u'hk-dr', u'color-white', u'size-s'), (u'intl-hk', u'size-l', u'color-red'), (u'intl-hk', u'size-l', u'color-white'), (u'intl-hk', u'size-m', u'color-red'), (u'intl-hk', u'size-m', u'color-white'), (u'intl-hk', u'size-s', u'color-red'), (u'intl-hk', u'size-s', u'color-white'), (u'intl-hk', u'size-l', u''), (u'intl-hk', u'size-m', u''), (u'intl-hk', u'size-s', u''), (u'intl-hk', u'size-l', u''), (u'intl-hk', u'size-m', u''), (u'intl-hk', u'size-s', u''), (u'intl-ja', u'size-l', u''), (u'intl-ja', u'size-xxl', u''), (u'intl-th', u'ring-size-us-no-3-5', u''), (u'intl-th', u'ring-size-us-no-4', u''), (u'intl-th', u'mens-shoes-size-uk-8', u''), (u'intl-th', u'mens-shoes-size-uk-8-5', u''), (u'intl-th', u'mens-shoes-size-uk-9', u''), (u'intl-th', u'size-s', u''), (u'intl-th', u'size-xs', u''), (u'intl-th', u'size-xxs', u''), (u'intl-tw', u'size-m', u'color-peach'), (u'intl-tw', u'size-m', u'color-pink'), (u'intl-tw', u'size-m', u'color-red'), (u'intl-tw', u'size-s', u'color-peach'), (u'intl-tw', u'size-s', u'color-pink'), (u'intl-tw', u'size-s', u'color-red'), (u'intl-tw', u'size-xl', u'color-peach'), (u'intl-tw', u'size-xl', u'color-pink'), (u'intl-tw', u'size-xl', u'color-red'), (u'intl-tw', u'ring-size-us-no-8', u''), (u'intl-tw', u'ring-size-us-no-9', u''), (u'intl-tw', u'size-l', u''), (u'intl-tw', u'size-m', u''), (u'intl-tw', u'size-xl', u''), (u'intl-tw', u'mens-shoes-size-us-10', u''), (u'intl-tw', u'mens-shoes-size-us-9', u''), (u'intl-tw', u'mens-shoes-size-us-9-5', u''), (u'intl-tw', u'womens-shoes-size-us-4-5', u'color-black'), (u'intl-tw', u'womens-shoes-size-us-4-5', u'color-white'), (u'intl-tw', u'womens-shoes-size-us-5', u'color-black'), (u'intl-tw', u'womens-shoes-size-us-5', u'color-white'), (u'intl-tw', u'color-pink', u''), (u'intl-tw', u'color-red', u''), (u'intl-tw', u'size-m', u'color-peach'), (u'intl-tw', u'size-m', u'color-pink'), (u'intl-tw', u'size-m', u'color-red'), (u'intl-tw', u'size-s', u'color-peach'), (u'intl-tw', u'size-s', u'color-pink'), (u'intl-tw', u'size-s', u'color-red'), (u'intl-tw', u'size-xl', u'color-peach'), (u'intl-tw', u'size-xl', u'color-pink'), (u'intl-tw', u'size-xl', u'color-red'), (u'intl-tw', u'size-m', u''), (u'intl-tw', u'size-s', u''), (u'intl-tw', u'size-xs', u''), (u'intl-tw', u'size-l', u''), (u'intl-tw', u'size-m', u''), (u'intl-tw', u'size-s', u''), (u'intl-tw', u'size-xs', u''), (u'intl-tw', u'mens-shoes-size-jp-29', u''), (u'intl-tw', u'mens-shoes-size-jp-29-5', u''), (u'intl-tw', u'mens-shoes-size-jp-30', u''), (u'jp-dr', u'size-xs', u''), (u'jp-dr', u'size-xxs', u''), (u'jp-dr', u'womens-shoes-size-us-5', u''), (u'minty-shop', u'color-red', u''), (u'minty-shop', u'color-gray', u''), (u'pinkoi', u'size-m', u'color-black'), (u'pinkoi', u'size-m', u'color-orange'), (u'pinkoi', u'size-m', u'color-pink'), (u'pinkoi', u'size-s', u'color-black'), (u'pinkoi', u'size-s', u'color-orange'), (u'pinkoi', u'size-s', u'color-pink'), (u'pinkoi', u'size-xs', u'color-black'), (u'pinkoi', u'size-xs', u'color-orange'), (u'pinkoi', u'size-xs', u'color-pink'), (u'pinkoi', u'color-pink', u''), (u'pinkoi', u'color-red', u''), (u'pinkoi', u'ring-size-us-no-3', u''), (u'pinkoi', u'ring-size-us-no-3-5', u''), (u'pinkoi', u'ring-size-us-no-4', u''), (u'pinkoi', u'ring-size-us-no-5', u''), (u'pinkoi', u'size-xs', u''), (u'pinkoi', u'size-xxs', u''), (u'pinkoi', u'size-l', u''), (u'pinkoi', u'size-m', u''), (u'pinkoi', u'size-s', u''), (u'pinkoi', u'ring-size-us-no-3', u''), (u'pinkoi', u'ring-size-us-no-3-5', u''), (u'pinkoi', u'ring-size-us-no-4', u''), (u'pinkoi', u'ring-size-us-no-5', u''), (u'pinkoi', u'size-custom-size', u'color-black'), (u'pinkoi', u'size-custom-size', u'color-brown'), (u'pinkoi', u'size-custom-size', u'color-peach'), (u'pinkoi', u'size-custom-size', u'color-pink'), (u'pinkoi', u'size-custom-size', u'color-white'), (u'pinkoi', u'size-custom-size', u'color-yellow'), (u'pinkoi', u'size-s', u'color-black'), (u'pinkoi', u'size-s', u'color-brown'), (u'pinkoi', u'size-s', u'color-peach'), (u'pinkoi', u'size-s', u'color-pink'), (u'pinkoi', u'size-s', u'color-white'), (u'pinkoi', u'size-s', u'color-yellow'), (u'pinkoi', u'size-xs', u'color-black'), (u'pinkoi', u'size-xs', u'color-brown'), (u'pinkoi', u'size-xs', u'color-peach'), (u'pinkoi', u'size-xs', u'color-pink'), (u'pinkoi', u'size-xs', u'color-white'), (u'pinkoi', u'size-xs', u'color-yellow'), (u'pinkoi', u'size-xxs', u'color-black'), (u'pinkoi', u'size-xxs', u'color-brown'), (u'pinkoi', u'size-xxs', u'color-peach'), (u'pinkoi', u'size-xxs', u'color-pink'), (u'pinkoi', u'size-xxs', u'color-white'), (u'pinkoi', u'size-xxs', u'color-yellow'), (u'pinkoi', u'ring-size-us-no-3', u''), (u'pinkoi', u'ring-size-us-no-3-5', u''), (u'pinkoi', u'ring-size-us-no-4', u''), (u'pinkoi', u'ring-size-us-no-5', u''), (u'pinkoi', u'mens-shoes-size-uk-5', u'color-indigo'), (u'pinkoi', u'mens-shoes-size-uk-5', u'color-neon-blue'), (u'pinkoi', u'mens-shoes-size-uk-5', u'color-neon-red'), (u'pinkoi', u'mens-shoes-size-uk-5', u'color-rose-gold'), (u'pinkoi', u'mens-shoes-size-uk-6', u'color-indigo'), (u'pinkoi', u'mens-shoes-size-uk-6', u'color-neon-blue'), (u'pinkoi', u'mens-shoes-size-uk-6', u'color-neon-red'), (u'pinkoi', u'mens-shoes-size-uk-6', u'color-rose-gold'), (u'pinkoi', u'mens-shoes-size-uk-7-5', u'color-indigo'), (u'pinkoi', u'mens-shoes-size-uk-7-5', u'color-neon-blue'), (u'pinkoi', u'mens-shoes-size-uk-7-5', u'color-neon-red'), (u'pinkoi', u'mens-shoes-size-uk-7-5', u'color-rose-gold'), (u'pinkoi', u'mens-shoes-size-uk-8-5', u'color-indigo'), (u'pinkoi', u'mens-shoes-size-uk-8-5', u'color-neon-blue'), (u'pinkoi', u'mens-shoes-size-uk-8-5', u'color-neon-red'), (u'pinkoi', u'mens-shoes-size-uk-8-5', u'color-rose-gold'), (u'pinkoi', u'mens-shoes-size-uk-9', u'color-indigo'), (u'pinkoi', u'mens-shoes-size-uk-9', u'color-neon-blue'), (u'pinkoi', u'mens-shoes-size-uk-9', u'color-neon-red'), (u'pinkoi', u'mens-shoes-size-uk-9', u'color-rose-gold'), (u'pinkoi', u'size-custom-size', u''), (u'pinkoi', u'size-xs', u''), (u'remi-chu-migration-test-1', u'size-l', u''), (u'remi-chu-migration-test-1', u'size-m', u''), (u'remi-chu-migration-test-1', u'size-s', u''), (u'remi-chu-migration-test-1', u'size-l', u''), (u'remi-chu-migration-test-1', u'size-m', u''), (u'remi-chu-migration-test-1', u'size-s', u''), (u'remi-chu-migration-test-1', u'size-l', u''), (u'remi-chu-migration-test-1', u'size-m', u''), (u'remi-chu-migration-test-1', u'size-s', u''), (u'remi-chu-migration-test-1', u'size-l', u''), (u'remi-chu-migration-test-1', u'size-m', u''), (u'remi-chu-migration-test-1', u'size-s', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'testowner', u'size-xs', u''), (u'testowner', u'size-xxs', u''), (u'th-dr', u'color-black', u''), (u'th-dr', u'color-gray', u''), (u'th-dr', u'color-red', u''), (u'th-dr', u'color-white', u''), (u'thierry-shop', u'color-neon-yellow', u''), (u'thierry-shop', u'size-l', u'color-black'), (u'thierry-shop', u'size-l', u'color-white'), (u'thierry-shop', u'size-m', u'color-black'), (u'thierry-shop', u'size-m', u'color-white'), (u'thierry-shop', u'size-s', u'color-black'), (u'thierry-shop', u'size-s', u'color-white'), (u'thierry-shop', u'mens-shoes-size-jp-22', u''), (u'thierry-shop', u'mens-shoes-size-jp-23', u''), (u'thierry-shop', u'mens-shoes-size-jp-24', u''), (u'thierry-shop', u'ring-size-us-no-3', u''), (u'thierry-shop', u'ring-size-us-no-3-5', u''), (u'thierry-shop', u'ring-size-us-no-4', u''), (u'thierry-shop', u'ring-size-us-no-4-5', u''), (u'thierry-shop', u'ring-size-us-no-5', u''), (u'thierry-shop', u'ring-size-us-no-5-5', u''), (u'thierry-shop', u'ring-size-us-no-6', u''), (u'thierry-shop', u'ring-size-us-no-6-5', u''), (u'thierry-shop', u'ring-size-us-no-7', u''), (u'thierry-shop', u'ring-size-us-no-7-5', u''), (u'thierry-shop', u'ring-size-us-no-8', u''), (u'thierry-shop', u'ring-size-us-no-8-5', u''), (u'thierry-shop', u'size-l', u''), (u'thierry-shop', u'size-m', u''), (u'thierry-shop', u'size-s', u''), (u'thierry-shop', u'mens-shoes-size-uk-5-5', u''), (u'thierry-shop', u'mens-shoes-size-uk-6', u''), (u'thierry-shop', u'mens-shoes-size-uk-6-5', u''), (u'thierry-shop', u'size-l', u''), (u'thierry-shop', u'size-m', u''), (u'thierry-shop', u'size-s', u''), (u'thierry-shop', u'ring-size-jp-no-1', u''), (u'thierry-shop', u'ring-size-jp-no-2', u''), (u'thierry-shop', u'ring-size-jp-no-3', u''), (u'thierry-shop', u'size-l', u''), (u'thierry-shop', u'size-m', u''), (u'thierry-shop', u'size-s', u''), (u'thierry-shop', u'size-l', u''), (u'thierry-shop', u'size-m', u''), (u'thierry-shop', u'size-s', u''), (u'thierry-shop', u'closure-clip-on', u'color-black'), (u'thierry-shop', u'closure-clip-on', u'color-gray'), (u'thierry-shop', u'closure-clip-on', u'color-white'), (u'thierry-shop', u'closure-hook', u'color-black'), (u'thierry-shop', u'closure-hook', u'color-gray'), (u'thierry-shop', u'closure-hook', u'color-white'), (u'thierry-shop', u'closure-post', u'color-black'), (u'thierry-shop', u'closure-post', u'color-gray'), (u'thierry-shop', u'closure-post', u'color-white'), (u'thierry-shop', u'color-gray', u''), (u'thierry-shop', u'color-red', u''), (u'thierry-shop', u'color-white', u''), (u'thierry-shop', u'size-l', u''), (u'thierry-shop', u'size-m', u''), (u'thierry-shop', u'size-xl', u''), (u'tw-cs', u'closure-clip-on', u''), (u'tw-cs', u'closure-hook', u''), (u'tw-cs', u'closure-post', u''), (u'tw-cs', u'womens-shoes-size-jp-22', u''), (u'tw-cs', u'womens-shoes-size-jp-23', u''), (u'tw-cs', u'womens-shoes-size-jp-23-5', u''), (u'tw-cs', u'size-l', u'color-peach'), (u'tw-cs', u'size-l', u'color-pink'), (u'tw-cs', u'size-l', u'color-red'), (u'tw-cs', u'size-m', u'color-peach'), (u'tw-cs', u'size-m', u'color-pink'), (u'tw-cs', u'size-m', u'color-red'), (u'tw-cs', u'size-s', u'color-peach'), (u'tw-cs', u'size-s', u'color-pink'), (u'tw-cs', u'size-s', u'color-red'), (u'tw-cs', u'size-m', u'color-gray'), (u'tw-cs', u'size-m', u'color-red'), (u'tw-cs', u'size-m', u'color-white'), (u'tw-cs', u'size-s', u'color-gray'), (u'tw-cs', u'size-s', u'color-red'), (u'tw-cs', u'size-s', u'color-white'), (u'tw-cs', u'size-xs', u'color-gray'), (u'tw-cs', u'size-xs', u'color-red'), (u'tw-cs', u'size-xs', u'color-white'), (u'tw-dr', u'size-l', u'color-black'), (u'tw-dr', u'size-l', u'color-gray'), (u'tw-dr', u'size-l', u'color-white'), (u'tw-dr', u'size-m', u'color-black'), (u'tw-dr', u'size-m', u'color-gray'), (u'tw-dr', u'size-m', u'color-white'), (u'tw-dr', u'size-s', u'color-black'), (u'tw-dr', u'size-s', u'color-gray'), (u'tw-dr', u'size-s', u'color-white'), (u'tw-dr', u'size-l', u''), (u'tw-dr', u'size-m', u''), (u'tw-dr', u'size-s', u''), (u'tw-dr', u'size-xl', u'')]